<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head', {title: 'Quienes Somos'}) %>

<body>
  <%- include('../partials/header') %>
  <main class="nosotrosQuienesSomos">
    <section class="nosotrosQuienesSomos__section">
      <article class="nosotrosQuienesSomos__section__article">
        <h1>¡Gracias!</h1>
        <p>Ustedes pensarán, ¿por qué comenzamos así una descripción de nuestra empresa? Porque <span>sin ustedes</span>, nuestros
          clientes amigos, futuros clientes, proveedores y ¿por qué no? nuestros colegas; <span>no estaríamos aquí</span> a la
          vanguardia con más de 44 años de trayectoria, donde el trabajo en equipo, la innovación permanente, la
          inversión de capital constante, la capacitación para nuestra gente, el respeto y calidez que se merece nuestro
          cliente, y la honestidad, son valores inamovibles en nuestro trabajo diario. Simplemente gracias!</p>
      </article>
      <article class="nosotrosQuienesSomos__section__article">
        <h2>Nosotros</h2>
        <p>Desde la Quimica <span>Buon Aseo</span> nos dedicamos a la fabricacion y venta mayorista de productos de limpieza,
          abastecemos con productos de excelente calidad a
          distintos sectores, desde productos de limpieza para hoteleria, desinfectantes o productos antibacteriales
          para consorcios,
          productos de limpieza por mayor para revender en locales de todo suelto, detergente industrial u otros
          productos con caracteristicas
          especificas para industrias y empresas, jabon, suavizante y perfume para ropa para servicios de lavanderia,
          entre otros sectores como pueden ser municipios, escuelas, hospitales, etc.
          Además, todos nuestros productos son ideales para el <span>cuidado del planeta</span>, ya que son desarrollados a base de
          materia prima biodegradable de excelente calidad.
          Por eso somos considerada una de las empresas eco-friendly en Argentina.</p>
      </article>
      <article class="nosotrosQuienesSomos__section__article">
        <h2>Nuestro objetivo</h2>
        <p> <span>Suministrar a nuestros clientes</span> productos y materias primas estratégicas de forma eficiente y adaptándolas a
          sus necesidades.
          Garantizar un suministro constante y competitivo en el tiempo gracias a nuestra cartera de proveedores tanto
          regionales, como nacionales e internacionales.</p>
      </article>
    </section>
  </main>
  <%- include('../partials/footer') %>
</body>

</html>