/* CABECERA */
.preguntasFrecuentes{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.preguntasFrecuentes__section{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 40px;

    width: 80%;

    margin-bottom: 30px;
}

/* TITULO */
.preguntasFrecuentes__section__cajaTitulo{
    width: 100%;

    border-bottom: var(--azulFuerte) 10px solid;
}
.preguntasFrecuentes__section__cajaTitulo h1{
    margin-bottom: 2px;
}


/* ARTICULOS */
.preguntasFrecuentes__section__article{
    border: var(--azulFuerte) 1px solid;
    border-radius: 10px;

    width: 100%;
    max-height: 200px;

    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    line-height: 24px;

    transition: 750ms;
}
.preguntasFrecuentes__section__article:hover{
    background-color: var(--azulClaro);
}

.preguntasFrecuentes__section__article h2{
    width: 90%;
}
.preguntasFrecuentes__section__article div{
    width: 10px;
}

.preguntasFrecuentes__section__respuesta1,
.preguntasFrecuentes__section__respuesta2,
.preguntasFrecuentes__section__respuesta3,
.preguntasFrecuentes__section__respuesta4,
.preguntasFrecuentes__section__respuesta5,
.preguntasFrecuentes__section__respuesta6,
.preguntasFrecuentes__section__respuesta7,
.preguntasFrecuentes__section__respuesta8{
    display: none;
}
.preguntasFrecuentes__section__respuesta1-Responder{
    display: block;
}
.preguntasFrecuentes__section a{
    color: var(--azulFuerte);
    font-size: 16px;
}
.preguntasFrecuentes__section span{
    color: var(--azulFuerte);
    text-decoration: underline;
}