<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/Logo.png" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <title>Home | Buon Aseo</title>
  </head>
  <body>
    <header class="header">
      <section class="header_section_uno">
        <article class="header_section_logo">
          <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
        </article>
        <article class="header_section_input">
          <input type="text" placeholder="Que producto busca?" />
          <span class="header_section_input_span"
            ><i class="fa-solid fa-magnifying-glass"></i
          ></span>
        </article>
        <article class="header_section_user_car">
          <h4 class="home_header_ingresar">Ingresar</h4>
          <a href="login"><i class="fa-solid fa-circle-user"></i></a>
          <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </article>
      </section>
      <section class="header_section_dos">
        <button
          class="header_section_hamburguesa"
          onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"
        >
          <i class="fa fa-bars"></i>
        </button>
        <nav class="header_section_dos_lista">
          <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
          <ul class="header_section_dos_lista--1">
            <li class="categorias" onclick="document.querySelector('.header_section_dos_lista--submenu').classList.toggle('subMenu')"
            >
              <a href="#">Categorias <i class="fa-solid fa-angle-down"></i></a>
            </li>
            <nav >
              <ul class="header_section_dos_lista--submenu">
                <li><a href="#">Jabones</a></li>
                <hr>
                <li><a href="#">Suavizantes</a></li>
                <hr>
                <li><a href="#">Detergentes</a></li>
                <hr>
                <li><a href="#">Lavandina</a></li>
                <hr>
                <li><a href="#">Liquido para pisos</a></li>
                <hr>
              </ul>
            </nav>
           
            
            <hr />
            <li>
              <a href="#">Nosotros</a>
            </li>
            <hr />
            <li>
              <a href="#">Informacion</a>
            </li>
            <hr />
            <li>
              <a href="#">Ayuda</a>
            </li>
            <hr />
            <li>
              <a href="#">Contacto</a>
            </li>
            <hr />
            <li>
              <a class="header_section_dos_lista--1--defensa" href="#"
                >Defensa del consumidor</a
              >
            </li>
            <hr />
            <li>
              <button><a href="#">Boton de arrepentimiento</a></button>
            </li>
            <hr />
          </ul>
        </nav>
      </section>
    </header>
    <section class="home_main_carousel">
      <div class="carousel">
          <button id="retroceder"><i class="fa-solid fa-angle-left"></i></button>
          <div id="imagen"></div>
          <button id="avanzar"><i class="fa-solid fa-angle-right"></i></button>
      </div>
  </section>
    <main class="home_main">
      <section class="home_main_section_productos_destacados">
        <article class="home_main_section_article_titulo">
          <h1 class="home_main_titulo">Productos Destacados</h1>
        </article>
        <article class="home_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--mobile"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
            <div class="home_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--tablet"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
            <div class="home_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
        </div>
        </div>
          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"> <img class="home_main_section_productos_destacados_img--deskop"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
           
            <div class="home_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

        </article>
        <article class="home_main_section_article_boton">
          <button class="home_main_button"><a href="ofertas">Ver mas ></a></button>
        </article>
      </section>
      <section class="home_main_section_productos_destacados">
        <article class="home_main_section_article_titulo">
          <h1 class="home_main_titulo">Ofertas</h1>
        </article>
        <article class="home_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--mobile"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
              
            <div class="home_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--tablet"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
              
            <div class="home_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--deskop"
              src="https://dummyimage.com/200x200/e34c14/fff"
              alt="imagen producto"
          /></a>
            
            <div class="home_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

        </article>
        <article class="home_main_section_article_boton">
          <button class="home_main_button"><a href="productosdestacados">Ver mas ></a></button>
        </article>
      </section>
      <section>
        <h1 class="home_main_titulo"></h1>
      </section>
      <div class="home_main_slider--movimiento">
        <ul>
          <li>
            <img
              src="https://dummyimage.com/100x50/940894/111cba"
              alt="slider1"
            />
          </li>
          <li>
            <img
              src="https://dummyimage.com/100x50/a0cf1d/111cba"
              alt="slider2"
            />
          </li>
          <li>
            <img
              src="https://dummyimage.com/100x50/cf2b1f/111cba"
              alt="slider3"
            />
          </li>
          <li>
            <img
              src="https://dummyimage.com/100x50/2cd113/111cba"
              alt="slider4"
            />
          </li>
        </ul>
      </div>
    </main>
    <footer class="pie-de-pagina">
      <!-- IMAGEN DE FONDO -->
      <section class="pie-de-pagina__cajaImg">
        <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
      </section>
      <!-- CONTENEDORES -->
      <section class="pie-de-pagina__contenedores">
        <!-- CONTENEDOR 1 -->
        <article class="pie-de-pagina__contenedor__1">
          <!-- NOSOTROS -->
          <div class="pie-de-pagina__contenedor__1__box1">
            <h3>NOSOTROS</h3>
            <a href="/footer/nosotros">¿Quiénes somos?</a>
          </div>
          <!-- INFO -->
          <div class="pie-de-pagina__contenedor__1__box2">
            <h3>INFORMACION</h3>
            <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
            <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
            <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
          </div>
          <!-- AYUDA -->
          <div class="pie-de-pagina__contenedor__1__box3">
            <h3>AYUDA</h3>
            <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
            <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
            <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
          </div>
          <!-- DEFENSA -->
          <div class="pie-de-pagina__contenedor__1__box4">
            <h3>DEFENSA DEL CONSUMIDOR</h3>
            <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para reclamos ingrese aquí</a>
            <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank" class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
            <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento" class="pie-de-pagina__contenedor__1__box4__aBoton"><button class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
          </div>
          <!-- CONTACTO -->
          <div class="pie-de-pagina__contenedor__1__box5">
            <h3>CONTACTO</h3>
            <a href="tel:1142309399">(11) 42309399</a>
            <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
            <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>
          </div>
          <!-- REDES -->
          <div class="pie-de-pagina__contenedor__1__box6">
            <h3>REDES SOCIALES</h3>
            <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
              <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
              <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
              <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            </nav>
          </div>
        </article>
        <!-- CONTENEDOR 2 -->
        <article class="pie-de-pagina__contenedor__2">
          <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
        </article>
      </section>
    </footer>
    <script>
      window.onload = function () {
          // Variables
          const IMAGENES = [
              'https://dummyimage.com/100x50/940894/111cba',
              'https://dummyimage.com/600x400/de521f/fff',
              'https://dummyimage.com/600x400/0509ed/fff',
              'https://dummyimage.com/600x400/eb0707/fff'
          ];
          const TIEMPO_INTERVALO_MILESIMAS_SEG = 1000;
          let posicionActual = 1;
          let $botonRetroceder = document.querySelector('#retroceder');
          let $botonAvanzar = document.querySelector('#avanzar');
          let $imagen = document.querySelector('#imagen');
          let $botonPlay = document.querySelector('#play');
          let $botonStop = document.querySelector('#stop');
          let intervalo;

          // Funciones

          /**
           * Funcion que cambia la foto en la siguiente posicion
           */
          function pasarFoto() {
              if(posicionActual >= IMAGENES.length - 1) {
                  posicionActual = 1;
              } else {
                  posicionActual++;
              }
              renderizarImagen();
          }

          /**
           * Funcion que cambia la foto en la anterior posicion
           */
          function retrocederFoto() {
              if(posicionActual <= 1) {
                  posicionActual = IMAGENES.length - 1;
              } else {
                  posicionActual--;
              }
              renderizarImagen();
          }

          /**
           * Funcion que actualiza la imagen de imagen dependiendo de posicionActual
           */
          function renderizarImagen () {
              $imagen.style.backgroundImage = `url(${IMAGENES[posicionActual]})`;
          }

          /**
           * Activa el autoplay de la imagen
           */
          function playIntervalo() {
              intervalo = setInterval(pasarFoto, TIEMPO_INTERVALO_MILESIMAS_SEG);
              // Desactivamos los botones de control
              $botonAvanzar.setAttribute('disabled', true);
              $botonRetroceder.setAttribute('disabled', true);
              $botonPlay.setAttribute('disabled', true);
              $botonStop.removeAttribute('disabled');

          }

          /**
           * Para el autoplay de la imagen
           */
          function stopIntervalo() {
              clearInterval(intervalo);
              // Activamos los botones de control
              $botonAvanzar.removeAttribute('disabled');
              $botonRetroceder.removeAttribute('disabled');
              $botonPlay.removeAttribute('disabled');
              $botonStop.setAttribute('disabled', true);
          }

          // Eventos
          $botonAvanzar.addEventListener('click', pasarFoto);
          $botonRetroceder.addEventListener('click', retrocederFoto);
          $botonPlay.addEventListener('click', playIntervalo);
          $botonStop.addEventListener('click', stopIntervalo);
          // Iniciar
          renderizarImagen();
      } 
  </script>
    </body>
</html>
