<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<div main="main_products_catalogo">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Todos los productos</h2>
			</div>
			
			<% products.forEach(({Id,Nombre,Precio,Image,Descuento,Aroma,Volumen,Dimenciones,Categoria,Stock}) => { %> 
				<%- include('../partials/product',{
					Id,
					Nombre,
					Precio,
					Image,
					Descuento,
					Aroma,
					Volumen,
					Dimenciones,
					Categoria,
					Stock,
					toThousand
				}) %> 
			<% }) %>
		</div>

	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>