<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<main class="carrito">
		<div class="carrito__section">
		  <section class="carrito__caja__titulo">
			<h1 class="carrito__titulo"> CATALOGO DE PRODUCTOS <% if (locals.adminEntry) { %>
				<a href="/products/crearProducto"><i class="fa-solid fa-plus"></i></a>
			<% } %> </h1>
			<hr class="carrito__primer__linia__espacio">
		  </section>
		  <div class="carrito__section__paraescritorio">
			<section class="carrito__titulo__paraescritorio"> 
			  <p class="carrito__producto__desktop">PRODUCTO</p>
			  <p class="carrito__producto__desktop">CATEGORIA</p>
			  <p class="carrito__producto__desktop">AROMA</p>
			  <p class="carrito__producto__desktop">STOCK</p>
			  <p class="carrito__producto__desktop">DESCUENTO</p>
			  <p class="carrito__producto__desktop">PRECIO</p>
			</section>

			<% products.forEach(({id,name,price,image,discount,smell,volume,dimensions,category,stock}) => { %> 
				<%- include('../partials/product',{
					id,
					name,
					price,
					image,
					discount,
					smell,
					volume,
					dimensions,
					category,
					stock,
					toThousand
				}) %> 
			<% }) %>
			</div>
		</div>
	</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>