<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Home'}) %>
<body>
  <%- include('../partials/header') %>
    <main class="detalle_main">
        <section class="detalle_main_section1">
            <article class="detalle_main_article_img_principal">
                <img class="detalle_main_article_img_principal_grande" src="/img/detalle/fondox.png" alt="fondo" >
                <div class="detalle_main_article_img_secundaria_mobile">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                </div>
            </article>
            <article class="detalle_main_article_nombre">
              <div>
                <h1>NOMBRE</h1>
                <p>$ 100<p>
                <p>Cantidad</p>
                <div>
                  <i class="fa-solid fa-truck"></i><span>Envio</span>
                </div>
                <p>Subtotal</p>
                <p>TOTAL</p>
                </div>
            
                <button class="detalle_main_article_boton_principal detalle_main_article_boton_principal_primero">
                    COMPRA AHORA
                </button>
                <button class="detalle_main_article_boton_principal">
                    AGREGAR AL CARRITO
                </button>
            </article>
            
        </section>
        <section>
            <article class="detalle_main_article_img_secundaria_tablet">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
            </article>
        </section>
        <section class="detalle_main_section2">
            <article class="detalle_main_article_caracteristica">
                <div>
                    <h2>CARACTERISTICAS</h2>
                    <p>MARCA</p>
                    <p>MODELO</p>
                    <p>TIPO</p>
                    <p>MATERIAL</p>
                    <p>ALTO</p>
                    <p>ANCHO</p>
                    <p>COLOR</p>
                </div>
                <div>
                    <h2>.</h2>
                    <p>XX</p>
                    <p>XXX</p>
                    <p>XXX</p>
                    <p>XXX</p>
                    <p>XXcm</p>
                    <p>XXcm</p>
                    <p>XXX</p>
                </div>
            </article>
            <article class="detalle_main_article_descripcion">
                <div>
                  <h2>DESCRIPCION</h2>
                  <p>XXX</p>
                </div>       
            </article>
        </section>
        <section class="detalle_main_section3">
            <article class="detalle_main_article_ofertas">
                <h3>OFERTAS</h3>
            <div class="grid">
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
            </div>
                <button>ver mas</button>
            </article>
            <article class="detalle_main_article_destacados">
                <h3>DESTACADOS</h3>
                <div class="grid">
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                </div>
                <button>ver mas</button>
            </article>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>