<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- todos los productos -->
	<main class="carrito">
		<div class="carrito__section">
		  <section class="carrito__caja__titulo">
			<h1 class="carrito__titulo"> CATALOGO DE PRODUCTOS ELIMINADOS <% if (locals.adminEntry) { %>
				<a href="/products/crearProducto"><i class="fa-solid fa-plus"></i></a>
			<% } %> </h1>
			<hr class="carrito__primer__linia__espacio">
		  </section>
			<table id="catalogo_tabla">
				<thead>
					<tr>
						<th></th>
						<th>PRODUCTO</th>
						<th>CATEGORIA</th>
						<th>AROMA</th>
						<th>STOCK</th>
						<th>DESCUENTO</th>
						<th>PRECIO</th>
			  			<th>ESTADO</th>
					</tr>
				</thead>
			<% products.forEach(({id,name,price,image,discount,smell,volume,dimensions,category,stock}) => { %> 
				<%- include('../partials/product_delete',{
					id,
					name,
					price,
					image,
					discount,
					smell,
					volume,
					dimensions,
					category,
					stock,
					toThousand
				}) %> 
			<% }) %>
			</table>
		</div>
	</main>
	<!-- /todos los productos -->
	<form action="/products/enableProduct?_method=PUT" method="post" id="form_enable_product">
    </form>
	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>