<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>Metodos de pago | Buon Aseo</title>
</head>

<body>
    <header class="header">
        <section class="header_section_uno">
            <article class="header_section_logo">
                <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
            </article>
            <article class="header_section_input">
                <input type="text" placeholder="Que producto busca?" />
                <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </article>
            <article class="header_section_user_car">
                <h4 class="home_header_ingresar">Ingresar</h4>
                <a href="formulario"><i class="fa-solid fa-circle-user"></i></a>
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </article>
        </section>
        <section class="header_section_dos">
            <button class="header_section_hamburguesa"
                onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"><i
                    class="fa fa-bars"></i></button>
            <nav class="header_section_dos_lista">
                <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
                <ul class="header_section_dos_lista--1">
                    <li>
                        <a href="#">Categorias</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Informacion</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Contacto</a>

                    </li>
                    <hr>
                    <li>
                        <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor</a>
                    </li>
                    <hr>
                    <li>
                        <button><a href="#">Boton de arrepentimiento</a></button>
                    </li>
                    <hr>
                </ul>
            </nav>
        </section>
    </header>
    <main class="metodosDePago">
      <section class="metodosDePago__section">
        <article class="metodosDePago__section__article">
          <!-- TITULO -->
          <h1>Medios de pago</h1>
          <p>Podés pagar tus compras con cualquiera de estos medios. Es rápido y seguro, siempre.</p>
        </article>
        <article class="metodosDePago__section__article">
          <!-- TARJETAS DE CREDITO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-credit-card"></i></div>
          <h4>Tarjetas de crédito en hasta 24 cuotas*</h4>
          <small>Acreditación instantánea.</small>
          <div>
            <!-- IMG TarCre -->
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b2c93a40-f3be-11eb-9984-b7076edb0bb7-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/0fada860-571c-11e8-8364-bff51f08d440-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/c9f71470-6f07-11ec-9b23-071a218bbe35-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/33ea00e0-571a-11e8-8364-bff51f08d440-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/5cc05a00-d012-11ea-be41-3936b95cb468-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/992bc350-f3be-11eb-826e-6db365b9e0dd-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/aa2b8f70-5c85-11ec-ae75-df2bef173be2-m.svg" alt="">
          </div>
          <small>*La cantidad de cuotas puede variar según la tarjeta.</small>
        </article>
        <article class="metodosDePago__section__article">
          <!-- TARJETAS DE DEBITO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-credit-card"></i></div>
          <h4>Tarjetas de débito</h4>
          <small>Acreditación instantánea.</small>
          <div>
            <!-- IMG TarDeb -->
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/ce454480-445f-11eb-bf78-3b1ee7bf744c-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/157dce60-571b-11e8-95d8-631c1a9a92a9-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/cb0af1c0-f3be-11eb-8e0d-6f4af49bf82e-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/312238e0-571b-11e8-823a-758d95db88db-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg" alt="">
          </div>
        </article>
        <article class="metodosDePago__section__article">
          <!-- EFETIVO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-money-bill-1-wave"></i></div>
          <h4>Efectivo</h4>
          <p>Es muy simple: cuando termines tu compra, te daremos las instrucciones para que sepas cómo y dónde pagarla</p>
          <div>
            <!-- IMG EFEC -->
            <figure>
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/fec5f230-06ee-11ea-8e1e-273366cc763d-m.svg" alt="">
              <small>Acreditación en 1 día hábil.</small>
            </figure>
            <figure>
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/443c34d0-571b-11e8-823a-758d95db88db-m.svg" alt="">
              <small>Acreditación instantánea.</small>
            </figure>
          </div>
        </article>
      </section>
    </main>
    <footer class="pie-de-pagina">
        <!-- IMAGEN DE FONDO -->
        <section class="pie-de-pagina__cajaImg">
          <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
        </section>
        <!-- CONTENEDORES -->
        <section class="pie-de-pagina__contenedores">
          <!-- CONTENEDOR 1 -->
          <article class="pie-de-pagina__contenedor__1">
            <!-- NOSOTROS -->
            <div class="pie-de-pagina__contenedor__1__box1">
              <h3>NOSOTROS</h3>
              <a href="/footer/nosotros">¿Quiénes somos?</a>
            </div>
            <!-- INFO -->
            <div class="pie-de-pagina__contenedor__1__box2">
              <h3>INFORMACION</h3>
              <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
              <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
              <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
            </div>
            <!-- AYUDA -->
            <div class="pie-de-pagina__contenedor__1__box3">
              <h3>AYUDA</h3>
              <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
              <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
              <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
            </div>
            <!-- DEFENSA -->
            <div class="pie-de-pagina__contenedor__1__box4">
              <h3>DEFENSA DEL CONSUMIDOR</h3>
              <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para reclamos ingrese aquí</a>
              <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank" class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
              <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento" class="pie-de-pagina__contenedor__1__box4__aBoton"><button class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
            </div>
            <!-- CONTACTO -->
            <div class="pie-de-pagina__contenedor__1__box5">
              <h3>CONTACTO</h3>
              <a href="tel:1142309399">(11) 42309399</a>
              <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
              <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>
            </div>
            <!-- REDES -->
            <div class="pie-de-pagina__contenedor__1__box6">
              <h3>REDES SOCIALES</h3>
              <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
                <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </nav>
            </div>
          </article>
          <!-- CONTENEDOR 2 -->
          <article class="pie-de-pagina__contenedor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
          </article>
        </section>
      </footer>
</body>

</html>