
.carrito {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
}
.carrito__section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 70%;
}

.carrito__primer__producto {
    background-color: var(--grisClaro);
    position: relative;

}

.carrito__titulo {
    display: flex;
    margin: 15px;
    font-size: 1rem;
    font-family: var(primer__producto);

}

.carrito__primer__linia__espacio {
    background-color: black;
    width: 80%;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: -10px;

}

.carrito__boton__imagen {
    width: 15px;
   color:var (--azulFuerte);
   position: absolute;
   top: 0;
   right: 0;
    margin: 2px;


}

.carrito__imagen__producto {
    width: 100%;
    background-color: var(--blanco) #fff;
    display: flex;
    justify-content: center;
    margin: 5px;
}




.carrito__producto__general {
 display: flex;
 width: 72%;
 font-family: --tipografiaLetra'Inter', sans-serif;
justify-content: space-between;
border:ridge 2px ;
margin: 5px;

}
.carrito__producto {
    font-size: 12px;
    
   
}
.carrito__producto__articulo {
    order: 1;
  font-size: 10px;
  
}
.carrito__precio__general {
    display: flex;
 width: 72%;
 font-family: --tipografiaLetra'Inter', sans-serif;
justify-content: space-between;
border:ridge 2px ;
margin: 5px;
}
.carrito__precio {
    font-size: 12px
}
.carrito__precio__numero {
    font-size: 12px;
    margin-right: 5px;
} 
.carrito__cantidad__general {
    display: flex;
    width: 72%;
    font-family: --tipografiaLetra'Inter', sans-serif;
   justify-content: space-between;
   border:ridge 2px ;
   margin: 5px;
}
.carrito__cantidad {
    font-size: 12px;
    margin-right: 5px;
}
.carrito__cantidad__boton {
     width: 80px;
     margin-right: 5px;
     background-color: var(--azulClaro);
     border: solid 1px var(--azulFuerte);
     border-radius: 10px;
     padding-left: 10px;
     color: #fff;
 
}
.carrito__cantidad__boton::placeholder{
    color: #fff;
}
.carrito__subtotal__general {
    display: flex;
    width: 72%;
    font-family: --tipografiaLetra'Inter', sans-serif;
   justify-content: space-between;
   border:ridge 2px ;
   margin: 5px;
}
.carrito__subtotal {
    font-size: 12px;
    margin-right: 5px;
}
.carrito__subtotal__numero {
    font-size: 12px;
    margin-right: 5px;
}

.carrito__segundo__producto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grisClaro);
    position: relative;
}

.carrito__carrito__segundo_segunda__linea__espacio {
width: 80%;
height: 3px;
background-color: var(--azulClaro);
}

.carrito__segundo__boton {
    width: 15px;
   color:var (--azulFuerte)#0240B1;
   position: absolute;
   top: 0;
   right: 0;
    margin: 2px;
}


.carrito__segunda__imagen {
    width: 100%;
    background-color: var(--blanco) #fff;
    display: flex;
    justify-content: center;
    margin: 5px;

}
.carrito__pie__pagina {
    display: flex;
    flex-flow: column wrap;
}
.carrito__boton__actualizar__carrito {
    width: 20px;
}