

.carrito {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
}
.carrito__section{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items:center; 
    width: 90%;
}
.carrito__caja__titulo{
    width: 100%;
}
.carrito__primer__producto {
    background-color: var(--grisClaro);
    position: relative;
    width: 100%;

}

.carrito__titulo {
    margin: 15px;
    font-size: 1rem;
    font-family: var(primer__producto);

}


.carrito__primer__linia__espacio {
    background-color: black;
    width: 100%;
    margin-bottom: 5px;
    margin-top: -10px;

}
.carrito__titulo__paraescritorio {
    display: none;
}
.carrito__boton__imagen {
    cursor: pointer;
    width: 25px;
    height: 25px;
   color: var(--azulFuerte);
   position: absolute;
   padding-left: 7px;
   top: 5px;
   right: 5px;
    border: 1px var(--azulFuerte) solid;
    border-radius: 50%;


}

.carrito__imagen__producto {
    width: 100%;
    background-color: var(--blanco) #fff;
    display: flex;
    justify-content: center;
    object-fit: contain;
}


.carrito__producto__general {
 display: flex;
 width: 100%;
justify-content: space-between;
align-items:center;
border-bottom: ridge 2px var(--grisClaro);
padding: 10px;


}
.carrito__producto {
    font-size: 12px;
    
   
}
.carrito__producto__articulo {
    order: 1;
  font-size: 10px;
  
}
.carrito__precio__general {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   border-bottom: ridge 2px var(--grisClaro);
   padding: 10px;

   
}


.carrito__precio {
    font-size: 12px
}
.carrito__precio__numero {
    font-size: 12px;
   
} 
.carrito__cantidad__general {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   border-bottom: ridge 2px var(--grisClaro);
   padding: 10px;
  
}
.carrito__cantidad {
    font-size: 12px;
   
}
.carrito__cantidad__boton {
     width: 90px;
     background-color: var(--azulClaro);
     border: solid 1px var(--azulFuerte);
     border-radius: 10px;
     padding-left: 10px;
     color: #fff;
 
}
.carrito__cantidad__boton::placeholder{
    color: #fff;
}
.carrito__subtotal__general {
    display: flex;
 width: 100%;
justify-content: space-between;
align-items:center;
border-bottom: ridge 3px var(--azulClaro);
padding: 10px;
 
}
.carrito__subtotal {
    font-size: 12px;
    
}
.carrito__subtotal__numero {
    font-size: 12px;
  
}
.carrito__pie__pagina{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
   justify-content: space-between;
   align-items:center;
}
.carrito__caja__escribe {
    display: flex;
    width: 100%;
   align-items:center;
   margin-top: 10px;
}
.carrito__escribe__aqui {
    width: 30%;
    margin-right: 10px;
}
.carrito__boton__actualizar__carrito {
    width: 200px;
    margin-top: 30px;
    margin-left: 90px;

}
.carrito__total__carrito {
    display: flex;
    width: 100%;
    align-items:center;
    margin-top: 40px;
    border-bottom: ridge 2px var(--grisClaro);
    font-size: 20px;
}
.carrito__caja__subtotal {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   border-bottom: ridge 2px var(--grisClaro);
   padding: 10px;
}
.carrito__subtotal {
    font-size: 15px;
    
    
}

.carrito__caja__total__productos {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   flex-wrap: wrap;
   margin-bottom: 50px;
}
.carrito__caja__envio {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   border-bottom: ridge 2px var(--grisClaro);
   padding: 10px;
}
.carrito__envio {
    font-size: 15px;
    margin-right: 60px;

}
.carrito__corresponde__envio {
    font-size: 10px;
   
}
.carrito__calcular__envio {
    font-size: 12px;
    margin-top: 5px;
    color: var(--azulFuerte);
}
.carrito__caja__total {
    display: flex;
    width: 100%;
   justify-content: space-between;
   align-items:center;
   border-bottom: ridge 2px var(--grisClaro);
   padding: 10px;
}

.carrito__finalizar {
    width: 80%;
    margin: 5px auto;
}

@media (min-width:768px) {
    .carrito__section__paraescritorio {
        width: 100%;
    }

    .carrito__imagen__producto {
        height: 200px;
        width: 100%;

       
    }
}
@media (min-width:1024px) {
    .carrito__section{
        display:flex;
        flex-wrap: wrap;
        flex-direction:row;
        justify-content: center;
        align-items:center; 
        width: 90%;
    }
    .carrito__section__paraescritorio {
        width: 70%;
        display: flex;
        flex-flow: column wrap;
     
    }

    .carrito__primer__producto {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    
    }
    .carrito__caja__titulo{
        width: 100%;
        border-bottom: 2px black solid;
        margin-bottom: 15px;
    }
    .carrito__titulo {
        margin: 15px 0 5px;
        font-size: 1rem;
        font-family: var(primer__producto);
    
    }
    .carrito__titulo__paraescritorio {
        display:flex;
        flex-flow:row wrap;
        justify-content: space-between;
        margin-left: 130px;
        width: 70%;
    }

    .carrito__cantidad__desktop {
        margin-left: 50px;
    }
    .carrito__primer__linia__espacio {
        background-color: black;
        width: 100%;
        height: 200px;
        margin-bottom: 0px;
        margin-top: 0px;
    
    }
    .carrito__boton__imagen {
        width: 25px;
        height: 25px;
       color: var(--azulFuerte);
       position: relative;
       padding: 0 5px;
       top: 0px;
       right: 0px;
        border: 1px var(--azulFuerte) solid;
        border-radius: 50%;
    
    
    }
    .carrito__imagen__producto {
        height: 100px;
        width: 100px;
        margin: 5px;
       
    }
    .carrito__caja__total__productos {
        display: flex;
        width: 30%;
        height: 400px;
       justify-content: space-between;
       align-items:center;
       flex-wrap: wrap;
       margin-bottom: 50px;
    }
    .carrito__pie__pagina{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        width: 90%;
       justify-content: space-between;
       align-items:center;
    }
    .carrito__caja__escribe {
        display: flex;
        width: 50%;
       align-items:center;
       margin-top: 10px;
    }
    .carrito__boton__actualizar__carrito {
        width: 200px;
        margin-top: 10px;
        margin-left: 0px;
    
    }
    .carrito__subtotal__general, .carrito__producto__general,.carrito__precio__general,.carrito__cantidad__general {
        border: none;
    }
    .carrito__producto,.carrito__precio,.carrito__cantidad,.carrito__subtotal {
            display: none;
    }
   
}