/* CABECERA */

.productCrear{
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction:column;
    align-items: center;
    background: rgb(2,64,177);
    background: linear-gradient(0deg, rgba(2,64,177,1) 0%, rgba(26,121,237,1) 54%, rgba(26,121,237,1) 100%);
}
.productCrear_main{
    width: 90%;
    border: 1px solid var(--grisClaro);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.productCrear__email__container small{
    display: block;
    min-height: 15px;
}
/* LOGO, TITULO Y SALIDA */
.productCrear__logo-y-titulo{
    width: 100%;
    padding: 10px;
}
.productCrear_main .imagePreview{
    width: 40%;
    display: block;
    margin: auto;
    height: 50%;
    aspect-ratio: 5/5;
    object-fit: contain;
}

.productCrear__logo-y-titulo__logo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0px 0px -15px;
}


.productCrear__logo-y-titulo__logo2{
    width: 100%;
    height: 70px;
    border: none;
    border-radius: 50%;
}

.productCrear__logo-y-titulo__titulo{
    width: 90%;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10%;
}

.productCrear__logo-y-titulo__salida{
    position: absolute;
    top: 12px;
    right: 30px;
    color: var(--colorLetras);
    font-weight: 700;
    font-size: 1.5rem;
 }




/* productCrear REDES */
.productCrear__redes{
    width: 100%;

    display: flex;
    flex-flow: wrap column;
    justify-content:flex-end;
    align-items: center;
}
.productCrear__redes__titulo{
    padding-top: 20px;
    text-align: center;

    font-size: 0.9rem;
}


/* productCrear EMAIL */
.productCrear__email{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}



.productCrear__email_section1{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.productCrear__email_section2{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.productCrear__email__titulo{
    padding-top: 20px;
    font-size: 0.9rem;
}
.productCrear__email form{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.productCrear__email__container{
    width: 90%;
    margin-top: 3px;
}
.productCrear__email__container input.is-valid,textarea.is-valid{
    border: 2px green solid;
}
.productCrear__email__container input.is-invalid,textarea.is-invalid{
    border: 2px red solid;
}

.productCrear__email__texto{
    border: 1px var(--azulFuerte) solid;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    background-color: var(--azulFuerte);
    width: 100%;
    height: 30px;
    padding-left: 10px;
}

.productCrear__email_texto{
    border: 1px var(--azulFuerte) solid;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    background-color: var(--azulFuerte);
    width: 100%;
    resize: none;
}

.productCrear__email__texto::placeholder{
    color: white;
    font-size: 0.8rem;
}

.productCrear__email__texto:-webkit-autofill, 
.productCrear__email__texto:-webkit-autofill:hover, 
.productCrear__email__texto:-webkit-autofill:focus, 
.productCrear__email__texto:-webkit-autofill:active { 
    box-shadow: 0 0 0 30px var(--azulFuerte) inset !important; -webkit-text-fill-color: white !important;}/* Para poner un color especifico cuando el usuario ingresa un dato. */

.productCrear__email__container img{
    /*width: 20px;

    position: absolute;
    right:  5px;
    top: 4px;*/
}

/* BOTON REGISTRARSE */
.productCrear__email__botonregistro{
    margin-top: 10px;

    width: 120px;
    height: 34px;

    font-size: 0.9rem;
    font-weight: 700;
    color:white;
}

/* INGRESAR */
.productCrear__cuenta{
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 15px;
   margin-bottom: 1rem;
}
.productCrear__cuenta__texto-cuenta{
    font-size: 0.9rem;
}
.productCrear__cuenta__ingresar{
    color: var(--colorLetras);
    font-size: 0.9rem;
    text-decoration:underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/* MEDIA || TABLET 768px */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (min-width: 768px){
  
    .productCrear__email form{
        width: 100%;
        display: flex;
        flex-flow:wrap row;
        align-items: flex-start;
        gap: 10px;
    }

    .productCrear__email_section1{
        width: 46%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }
    
    .productCrear__email_section2{
        width: 46%;
        display: flex;
        flex-flow: wrap column;
        align-items: center;
    }


    .productCrear__logo-y-titulo__logo2{
        width: 150px;
        height: 150px;
    }

    .productCrear__logo-y-titulo__titulo{
        font-size: 3rem;
        margin-left: 15%;
    }

    .productCrear__logo-y-titulo__salida{
        top: 12px;
        right: 80px;
        font-size: 2.5rem;
     }

     .productCrear__email__texto{
        height: 40px;
    }

    .productCrear__email__botonregistro{
        width: 155px;
        height: 55px;
    }
   
}

@media (min-width: 1440px){
  
    .productCrear__logo-y-titulo__logo2{
        width: 200px;
        height: 200px;
      
    }

    .productCrear__logo-y-titulo__titulo{
        font-size: 3.5rem;
    }

    .productCrear__logo-y-titulo__salida{
        top: 12px;
        right: 100px;
        font-size: 3rem;
     }

     .productCrear__email__botonregistro{
        width: 165px;
        height: 60px;
    }
   
}

