:root{
    --colorLetras: #36363E;
    --azulFuerte: #0240B1;
    --azulClaro: #1A79ED;
    --grisClaro: #F7F8F7;
    --colorGrisOscuro :  #92908b;
    --tipografiaLetra: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    font-family: var(--tipografiaLetra);
    color: var(--colorLetras);
}

h1{
    font-weight: 700;
}

main{
    background-color: var(--grisClaro);
}

input::placeholder{
    color: var(--colorGrisOscuro);
}

li{
  list-style: none;
}

ul,ol{
  padding: 0;
}

a{
  text-decoration: none;
  color: #000; 
}
