.home_main {
    margin-top: 1em;
	width: 100%;
}

.home_main_slider--fijo {
    display: flex;
    width: 100%;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
    padding: 5px;
}

.home_main_slider--img{
	width: 60%;
}

.home_main_slider--img img {
width: 100%;
border-radius: 10px;
}


.home_main_slider--icono{
	width: 15%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.home_main_button--icono{
	width: 100%;
	height: 100%;
	padding: 10%;
	padding-left: 35px;
	border: solid 1px grey;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--azulClaro);
}

.home_main_button--icono:hover{
	cursor: pointer;
	background: orangered;
}

.home_main_slider--icono i {
	color: var(--azulFuerte);
	width: 50%;
	font-size: 25px;
	padding-right: 30px;
	}

.home_main_titulo{
	text-align: center;
	font-size: 25px;
	font-family: var(--tipografiaLetra);
	color: var(--colorLetras);
}

	.home_main_section_article_imagenes {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	gap: 20px;
}


.home_main_section_productos_destacados_img--mobile{
	border-radius: 50%;
}

.home_main_section_productos_destacados_img--tablet, .home_main_section_productos_destacados_img--deskop {
	display: none;
}

.home_main_section_article_parrafo {
	text-align: center;

}

.home_main_section_article_parrafo p {
	font-size: 15px;
	font-family: var(--tipografiaLetra);
	color: var(--colorLetras);
}

.home_main_section_article_boton {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 5px;
}

.home_main_button {
	margin-top: 10px;
	width: 30%;
	height: 15%;
background-color: var(--azulFuerte);
border: none;
border-radius: 5px;
}

.home_main_button:hover {
	cursor: pointer;
	background-color: orangered;
}



.home_main_slider--movimiento {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.home_main_slider--movimiento  ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite alternate linear;
}

.home_main_slider--movimiento  li {
	width: 100%;
}

.home_main_slider--movimiento  img {
	width: 100%;
    border-radius: 25px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
