.perfil-main {
    width: 100%;
    display: flex;
    padding: 30px 10px 10px 10px;

    flex-direction:column;
    align-items: center;
    background: rgb(2,64,177);
    background: linear-gradient(0deg, rgba(2,64,177,1) 0%, rgba(26,121,237,1) 54%, rgba(26,121,237,1) 100%);
}

.perfil-main-titulo{
    font-size: 20px;
}

.perfil-main-contenedor-h1-image{
    width: 90%;
    display: flex;
    flex-direction: column;
}


.perfil-main-salida{
    font-size: 1.5rem;
    position: relative;
    top: -25px;
    right: -10px;
    margin-left: 12.3rem;
    color: var(--negro);
    font-weight: 600;
}
.perfil-main-h1-img div{
    display: flex;
    align-items: center;
}
.perfil-main-h1-img{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

.perfil-main-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}




.perfil-container{
    background-color: var(--blanco);
    border-radius: 10px;
    width: 90%;
}

.perfil-main-formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.perfil-main-conteiner1 {
width: 100%;
}

.perfil-main-conteiner2 {
    width: 100%;
}

.password-visible1{
    position: absolute;
    right: 50px;
    top: 339px;
}
.password-visible1 .fas.active{
    display: block;
}
.password-visible1 .fas{
    display: none;
    color: var(--negro);
    font-size: 15px;
}

.password-visible2{
    position: absolute;
    right: 50px;
    top: 378px;
}
.password-visible2 .fas.active{
    display: block;
}
.password-visible2 .fas{
    display: none;
    color: var(--negro);
    font-size: 15px;
}


.perfil-main-caja--input-label{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.perfil-main-label{
    font-size: 0.5rem;
    padding-left: 20px;
    padding-bottom: 5px;
}

.perfil-main-caja--input-label2{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.perfil-main-label2{
    font-size: 0.5rem;
    padding-bottom: 5px;
    margin-left: 15px;
}
.perfil-main-input2{
    border: 1px rgb(173, 173, 173) solid;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    background-color: rgb(173, 173, 173);
    width: 90%;
    margin-left: 15px;
    height: 40px;
    padding-left: 10px;
}

.perfil-main-caja--input-label-radio{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.5rem;
    gap: 10px;
    margin-bottom: 20px;
}

.perfil-main-caja-radio{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.perfil-main-radio-label{
    margin-right: 7px;
    display: flex;
    align-items: center;
    line-height: 13px;
}
.perfil-main-radio{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.perfil-main-caja--input-label-checkbox > label{
    font-weight: 600;
    text-align: center;
}
.perfil-main-caja--input-label-checkbox {
display: flex;
flex-direction: column;
font-size: 0.5rem;
gap: 10px;
width: 100%;
margin-bottom: 15px;
}

.perfil-main-caja-checkbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.perfil-main-input-checkbox{
    margin-right: 5px;
}
.perfil-main-label-checkbox{
    margin-left: 5px;
    display: flex;
    align-items: center;
    line-height: 13px;
}
.perfil-main-caja--input-label2 .contenedor-preview{
    height:170px;
    
}
.perfil-main-caja--input-label2 .preview{
    width: 50%;
    display: block;
    margin: auto;
    height: 100%;
    object-fit: contain;
}

.perfil-main-input{
    border: unset;
    outline: none;
    color: var(--azulFuerte);
    border: solid 2px rgba(2, 204, 255);
    border-radius: 15px;
    font-size: 0.8rem;
    width: 90%;
    height: 30px;
    padding-left: 10px;
    align-self: center;
}
.perfil-main-caja--input-label .barra{
    content:"";
    width: 90%;
    margin: auto;
    height: 1px;
    background: linear-gradient(to right,rgb(71, 123, 153),rgb(126, 182, 219));
    display: block;
    transition: all 0.4s;
    margin-top: -5px;
}
.perfil-main-input:focus-visible + .barra{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 2px;
    background: linear-gradient(to right,rgb(4, 147, 190),rgba(2, 204, 255));
}

.perfil-main-input-password{
    border: 1px var(--azulFuerte) solid;
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    background-color: var(--azulFuerte);
    width: 90%;
    height: 35px;
    padding-left: 10px;
    align-self: center;
    color: transparent;
}

.perfil-main-input:-webkit-autofill, 
.perfil-main-input:-webkit-autofill:hover, 
.perfil-main-input:-webkit-autofill:focus, 
.perfil-main-input:-webkit-autofill:active { -webkit-box-shadow: 0 0 0 30px var(--azulFuerte) inset !important; -webkit-text-fill-color: white !important;}/* Para poner un color especifico cuando el usuario ingresa un dato. */


    .perfil-main-caja--boton{
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
    }

.perfil_botonRegistro{
    width: 100px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to right,rgb(5, 109, 179),rgb(6, 167, 241));
    transition: all 0.3s;
}
.perfil_botonRegistro:hover{
    background: linear-gradient(to right,rgb(5, 84, 136),rgb(7, 139, 201)) !important;

}

    @media (min-width: 768px){   
       
        .perfil-main-titulo{
            font-size: 2rem;
        }

        .perfil-main-salida{
            font-size: 2rem;
            margin-left: 36rem;
        }
        .perfil-main-formulario {
            
            flex-direction: row;
        }
        
        .perfil-main-conteiner1 {
        width: 40%;
        }
        
        .perfil-main-conteiner2 {
            width: 40%;
        }

        .perfil-main-input{
            height: 40px;
        }

        .perfil-main-label{
            font-size: 1rem;
            padding-left: 30px;
        }

        .perfil-main-label2{
            font-size: 1rem;

        }

        .perfil-main-caja--input-label-checkbox {
            font-size: 1rem;
            }

            .perfil-main-caja--input-label-radio {
                font-size: 1rem;
                }

        .perfil_botonRegistro{
            width: 130px;
            height: 40px;
        }

        .perfil-main-image{
            width: 100px;
            height: 100px;
        }

        .perfil-main-caja-checkbox{
            flex-direction: column;
            gap: 5px;
        }
        .perfil-main-caja-radio{
            flex-direction: column;
            gap: 5px;
        }

        .password-visible1{
            position: absolute;
            right: 418px;
            top: 425px;
            font-size: 18px;
        }
        
        .password-visible1 .fas{
            font-size: 18px;
        }
        
        .password-visible2{
            position: absolute;
            right: 418px;
            top: 475px;
            font-size: 18px;
        }
        
        .password-visible2 .fas{
           
            font-size: 18px;
        }
    }

    @media (min-width: 1024px){
        .perfil-main-titulo{
            margin-left: 8px;
            font-size: 1.8rem;
        }
        .perfil-main-titulo b{
            font-size: 2.2rem;
        }

        .perfil-main-salida{
            font-size: 3rem;
            top: -20px;
            right: -100px;
        }

        .perfil-main-input{
            height: 35px;
        }

        .perfil-main-label{
            font-size: 1rem;
            padding-left: 50px;
        }

        .perfil-main-input2{
            height: 40px;
            margin: auto;
            /* line-height: 30px; */
            width: 95%;
            font-size: 12px;
        }

        .perfil-main-label2{
            font-size: 0.8rem;
            font-weight: 600;
            text-align: center;
        }

        .perfil-main-caja--input-label-checkbox {
            font-size: 0.8rem;
            padding-left: 15px;
        }

        .perfil-main-caja--input-label-radio {
            
            font-size: 0.8rem;
            padding-left: 15px;
        }
        .perfil-main-caja--input-label-radio > label {
            text-align: center;
            font-weight: 600;
        }

        .perfil_botonRegistro{
            width: 130px;
            height: 28px;
        }

        .perfil-main-image{
            width: 50px;
            height: 50px;
            object-fit: cover
        }
        .password-visible1{
            position: absolute;
            right: 552px;
            top: 448px;
            font-size: 20px;
        }
        
        .password-visible1 .fas{
            font-size: 20px;
        }
        
        .password-visible2{
            position: absolute;
            right: 552px;
            top: 491px;
            font-size: 20px;
        }
        
        .password-visible2 .fas{
           
            font-size: 20px;
        }

    }

    @media (min-width: 1336px){
        .perfil-main-salida{
            left: 450px;
        }
        .password-visible1{
            left: 810px;
            top: 422px;
            font-size: 25px;
            position: relative;
        }
        
        .password-visible1 .fas{
            font-size: 25px;
            position: absolute;
        }
        
        .password-visible2{
            left: 810px;
            top: 470px;
            font-size: 25px;
            position: relative;
        }
        
        .password-visible2 .fas{
            font-size: 25px;
            position: absolute;
            
        }
    }

    @media (min-width: 1440px){
        .perfil-main-salida{
            right: -290px;
        }
        .password-visible1{
            position: absolute;
            right: 770px;
            top: 445px;
            font-size: 25px;
        }
        
        .password-visible1 .fas{
            font-size: 25px;
        }
        
        .password-visible2{
            position: absolute;
            right: 770px;
            top: 488px;
            font-size: 25px;
        }
        
        .password-visible2 .fas{
           
            font-size: 25px;
        }
    }


    @media (min-width: 1900px){
        .perfil-main-salida{
            right: -490px;
        }
        .password-visible1{
           
            right: 1006px;
          
            font-size: 25px;
        }
        
        .password-visible1 .fas{
            font-size: 25px;
        }
        
        .password-visible2{
           
            right: 1006px;
           
            font-size: 25px;
        }
        
        .password-visible2 .fas{
           
            font-size: 25px;
        }
    }