<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Logo.png">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
  <title>Quienes Somos | Buon Aseo</title>
</head>

<body>
  <header class="header">
    <section class="header_section_uno">
      <article class="header_section_logo">
        <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
      </article>
      <article class="header_section_input">
        <input type="text" placeholder="Que producto busca?" />
        <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
      </article>
      <article class="header_section_user_car">
        <h4 class="home_header_ingresar">Ingresar</h4>
        <a href="formulario"><i class="fa-solid fa-circle-user"></i></a>
        <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
      </article>
    </section>
    <section class="header_section_dos">
      <button class="header_section_hamburguesa"
        onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"><i
          class="fa fa-bars"></i></button>
      <nav class="header_section_dos_lista">
        <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
        <ul class="header_section_dos_lista--1">
          <li>
            <a href="#">Categorias</a>
          </li>
          <hr>
          <li>
            <a href="#">Nosotros</a>
          </li>
          <hr>
          <li>
            <a href="#">Informacion</a>
          </li>
          <hr>
          <li>
            <a href="#">Ayuda</a>
          </li>
          <hr>
          <li>
            <a href="#">Contacto</a>

          </li>
          <hr>
          <li>
            <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor</a>
          </li>
          <hr>
          <li>
            <button><a href="#">Boton de arrepentimiento</a></button>
          </li>
          <hr>
        </ul>
      </nav>
    </section>
  </header>
  <main class="nosotrosQuienesSomos">
    <section class="nosotrosQuienesSomos__section">
      <article class="nosotrosQuienesSomos__section__article">
        <h1>¡Gracias!</h1>
        <p>Ustedes pensarán, ¿por qué comenzamos así una descripción de nuestra empresa? Porque <span>sin ustedes</span>, nuestros
          clientes amigos, futuros clientes, proveedores y ¿por qué no? nuestros colegas; <span>no estaríamos aquí</span> a la
          vanguardia con más de 44 años de trayectoria, donde el trabajo en equipo, la innovación permanente, la
          inversión de capital constante, la capacitación para nuestra gente, el respeto y calidez que se merece nuestro
          cliente, y la honestidad, son valores inamovibles en nuestro trabajo diario. Simplemente gracias!</p>
      </article>
      <article class="nosotrosQuienesSomos__section__article">
        <h2>Nosotros</h2>
        <p>Desde la Quimica <span>Buon Aseo</span> nos dedicamos a la fabricacion y venta mayorista de productos de limpieza,
          abastecemos con productos de excelente calidad a
          distintos sectores, desde productos de limpieza para hoteleria, desinfectantes o productos antibacteriales
          para consorcios,
          productos de limpieza por mayor para revender en locales de todo suelto, detergente industrial u otros
          productos con caracteristicas
          especificas para industrias y empresas, jabon, suavizante y perfume para ropa para servicios de lavanderia,
          entre otros sectores como pueden ser municipios, escuelas, hospitales, etc.
          Además, todos nuestros productos son ideales para el <span>cuidado del planeta</span>, ya que son desarrollados a base de
          materia prima biodegradable de excelente calidad.
          Por eso somos considerada una de las empresas eco-friendly en Argentina.</p>
      </article>
      <article class="nosotrosQuienesSomos__section__article">
        <h2>Nuestro objetivo</h2>
        <p> <span>Suministrar a nuestros clientes</span> productos y materias primas estratégicas de forma eficiente y adaptándolas a
          sus necesidades.
          Garantizar un suministro constante y competitivo en el tiempo gracias a nuestra cartera de proveedores tanto
          regionales, como nacionales e internacionales.</p>
      </article>
    </section>
  </main>
  <footer class="pie-de-pagina">
    <!-- IMAGEN DE FONDO -->
    <section class="pie-de-pagina__cajaImg">
      <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
    </section>
    <!-- CONTENEDORES -->
    <section class="pie-de-pagina__contenedores">
      <!-- CONTENEDOR 1 -->
      <article class="pie-de-pagina__contenedor__1">
        <!-- NOSOTROS -->
        <div class="pie-de-pagina__contenedor__1__box1">
          <h3>NOSOTROS</h3>
          <a href="/footer/nosotros">¿Quiénes somos?</a>
        </div>
        <!-- INFO -->
        <div class="pie-de-pagina__contenedor__1__box2">
          <h3>INFORMACION</h3>
          <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
          <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
          <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
        </div>
        <!-- AYUDA -->
        <div class="pie-de-pagina__contenedor__1__box3">
          <h3>AYUDA</h3>
          <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
          <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
          <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
        </div>
        <!-- DEFENSA -->
        <div class="pie-de-pagina__contenedor__1__box4">
          <h3>DEFENSA DEL CONSUMIDOR</h3>
          <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para
            reclamos ingrese aquí</a>
          <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank"
            class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
          <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento"
            class="pie-de-pagina__contenedor__1__box4__aBoton"><button
              class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
        </div>
        <!-- CONTACTO -->
        <div class="pie-de-pagina__contenedor__1__box5">
          <h3>CONTACTO</h3>
          <a href="tel:1142309399">(11) 42309399</a>
          <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
          <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos
            Aires</a>
        </div>
        <!-- REDES -->
        <div class="pie-de-pagina__contenedor__1__box6">
          <h3>REDES SOCIALES</h3>
          <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
            <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i
                class="fa-brands fa-twitter"></i></a>
          </nav>
        </div>
      </article>
      <!-- CONTENEDOR 2 -->
      <article class="pie-de-pagina__contenedor__2">
        <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
      </article>
    </section>
  </footer>
</body>

</html>