/* Móvil: 360 x 640
Móvil: 375 x 667
Móvil: 360 x 720
iPhone X: 375 x 812
Pixel 2: 411 x 731
Tableta: 768 x 1024
Un ordenador portátil: 1366 x 768
Un ordenador portátil o desktop de alta resolución: 1920 x 1080 */

/* CABECERA */

.registro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    background: linear-gradient(0deg, rgba(2,64,177,1) 0%, rgba(26,121,237,1) 54%, rgba(26,121,237,1) 100%);
}
.registro_main{
    width: 90%;
    max-width: 1024px;

    border: 1px solid var(--grisClaro);
    border-radius: 10px;

    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    margin-top: -257.5px;
}
.registro-text-danger{
    color: red;
}

.registro-text-succes {
    color: green;
}
/* LOGO, TITULO Y SALIDA */
.registro__logo-y-titulo{
    width: 100%;
    display: flex;
    flex-flow: wrap column;
    justify-content:flex-end;
    align-items: center;

    position: relative;
}
.registro__logo-y-titulo__logo2{
    margin-top: 20px;

    width: 70px;
    height: 70px;

    border: none;
    border-radius: 50%;
}
.registro__logo-y-titulo__salida{
    position: absolute;
    top: 12px;
    right: 18px;

    color: var(--colorLetras);
    font-weight: 700;
    font-size: 1.5rem;
 }

.registro__logo-y-titulo__titulo{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;

    padding-top: 10px;
}




/* REGISTRO REDES */
.registro__redes{
    width: 100%;

    display: flex;
    flex-flow: wrap column;
    justify-content:flex-end;
    align-items: center;
}
.registro__redes__titulo{
    padding-top: 20px;
    text-align: center;

    font-size: 0.9rem;
}
.registro__redes__containerFB, .registro__redes__containerGoogle{
    margin-top: 10px;
    width: 90%;

    position: relative;
}
.registro__redes__botonFB, .registro__redes__botonGoogle{
    border: 1px rgb(80, 151, 245) solid;
    border-radius: 10px;
    font-size: 0.9rem;
    color: white;
    background-color: rgb(80, 151, 245);
    width: 100%;
    height: 28px;
}
.registro__redes__botonGoogle{
    border: 1px red solid;
    background-color: red;
}
.registro__redes__containerFB img, .registro__redes__containerGoogle img{
    position: absolute;
    width: 20px;

    left:  5px;
    top: 4px;
}


/* LINEA */
.registro__lineaVertical{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;

    width: 96%;

    padding-top: 20px;
}
.registro__lineaVertical__letraO{
    padding-bottom: 4px;
}
.registro__lineaVertical__vertical-one-line, .registro__lineaVertical__vertical-two-line{
    height: 1px;
    width: 46%;
    background-color: var(--colorLetras);
}

/* REGISTRO EMAIL */

.registro__email{
    width: 100%;

    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.registro__email__titulo{
    padding-top: 20px;

    font-size: 0.9rem;
}
.registro__email form{
    width: 100%;

    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
.registro__email__container{
    width: 90%;
    margin-top: 10px;
    position: relative;
}
.registro__email__texto{
    border: solid 2px rgba(2, 204, 255);
    border-radius: 10px;
    color: white;
    font-size: 0.8rem;
    background-color: var(--azulFuerte);
    width: 100%;
    height: 28px;

    padding-left: 10px;
}
.registro__email__texto::placeholder{
    color: white;
    font-size: 0.8rem;
}

.registro__email__texto:-webkit-autofill, 
.registro__email__texto:-webkit-autofill:hover, 
.registro__email__texto:-webkit-autofill:focus, 
.registro__email__texto:-webkit-autofill:active { 
    -webkit-box-shadow: 0 0 0 30px var(--azulFuerte) inset !important; -webkit-text-fill-color: white !important;

}/* Para poner un color especifico cuando el usuario ingresa un dato. */

.registro__email__container img{
    width: 20px;

    position: absolute;
    right:  5px;
    top: 4px;
}
.registro__email__container-inValid{
    border: red 1px solid !important;
}
.registro__email__container small{
    color: red;
}




/* BOTON LOGIN */

.login-detail__cuenta{
width: 100%;

}

.login-detail__article__containerBotonIngreso > .registro__email__botonRegistro{
    width: 70px;
    height: 30px;
    font-size: 10px;
    margin-left: 25px;
}


.login-detail__cuenta-div1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}

.login-detail__cuenta-div2{
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    text-align: center;
}





/* BOTON REGISTRARSE */
.registro__email__botonRegistro{
    width: 115px;
    height: 35px;
    position: relative;
    margin-top: 10px;
    color:white;
    font-size: 16px;
    font-weight: 400;
    background: linear-gradient(to right,rgb(5, 109, 179),rgb(6, 167, 241));
    transition: all 0.3s;
}



.registro__cuenta__ingresar-boton{
    width: 70px;
    font-size: 16px;
    height: 30px;
    background: linear-gradient(to right,rgb(5, 109, 179),rgb(6, 167, 241));
    transition: all 0.3s;
}

.registro__cuenta__ingresar-boton:hover{
    background: linear-gradient(to right,rgb(5, 84, 136),rgb(7, 139, 201)) !important;
}



/* INGRESAR */
.registro__cuenta{
    width: 100%;
    margin: 10px 0 20px;
    text-align: center;
}
.registro__cuenta__texto-cuenta {
    font-size: 10px;
     margin-top: 15px;
     font-weight: normal;
    }

.registro__cuenta__ingresar{
    color:white;
    text-decoration:none;
    font-size: 0.6rem;
    font-weight: 400;
}
.password-visible{
    position: absolute;
    right: 10px;
    top: 8px;
}
.password-visible .fas.active{
    display: block;
}
.password-visible .fas{
    display: none;
    color: #fff;
    font-size: 20px;
}




/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/* MEDIA || TABLET 768px */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 768px){   
    /* REGISTRO REDES */
    .registro__redes__botonFB, .registro__redes__botonGoogle{
        height: 32px;
    }
    .registro__redes__containerFB img, .registro__redes__containerGoogle img{
        width: 24px;
    }

    /* REGISTRO EMAIL */
    .registro__email__texto{
        height: 32px;
    }
    .registro__email__container img{
        width: 24px;
    }

    .registro__cuenta__ingresar-boton{
        width: 100px;
        height: 40px;
       
    }
    
    /* BOTON LOGIN */
    .login-detail__article__containerBotonIngreso > .registro__email__botonRegistro {
        width: 100px;
        height: 40px;
        font-size: 15px;
    }

    .registro__cuenta__ingresar {
        font-size: 0.8rem;
}


.login-detail__cuenta-div1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
}

.login-detail__cuenta-div2{
    width: 100%;
    display: flex;
    flex-direction: row;
   justify-content: space-around;
    text-align: center;
    margin-bottom: 5px;
}


.registro__cuenta__texto-cuenta{
    font-size: 13px;
    margin-bottom: 5px;
}

}





/*~~~~~~~~~~~~~~~~~~~~~~~~*/
/* MEDIA | DESKTOP 1024px */
/*~~~~~~~~~~~~~~~~~~~~~~~~*/
@media (min-width: 1024px){
    /* CABECERA */
    .registro_main{
        flex-flow: wrap row;
        align-items: flex-start;

        margin-top: -182.5px;
    }

    /* REGISTRO REDES */
    .registro__redes{
        width: 45%;
    
        flex-flow: wrap row;
        justify-content: center;
    }
    .registro__redes__titulo{
        padding-top: 10px;
    
        font-weight: 700;
    }
    .registro__redes__botonFB, .registro__redes__botonGoogle{
        height: 36px;
    }
    .registro__redes__containerFB img, .registro__redes__containerGoogle img{
        width: 28px;
    }

    /* LINEA */
    .registro__lineaVertical{
        flex-flow: wrap column;
    
        width: 10%;
        height: 40%;

        padding-top: 10px;
    }
    .registro__lineaVertical__vertical-one-line{
        height: 56px;
        width: 1px;
    }
    .registro__lineaVertical__vertical-two-line{
        height: 140px;
        width: 1px;
    }

    /* REGISTRO EMAIL */
    .registro__email{
        width: 45%;
    
        flex-flow: wrap row;
        justify-content: center;
    }
    .registro__email__titulo{
        padding-top: 10px;

        font-weight: 700;
    } 
    .registro__email__texto{
        height: 36px;
    }
    .registro__email__container img{
        width: 28px;
    }

    /* BOTON REGISTRARSE */
    .registro__email__botonRegistro{
        align-self:flex-start;
        margin-left: 5%;

        height: 34px;
    }

    /* INGRESAR */
    .registro__cuenta{
       display: flex;
       flex-flow: row wrap;
       justify-content: flex-start;
       align-items: center;
        width: 90%;
    }

    .registro__cuenta__ingresar-boton{
        width: 100px;
        font-size: 20px;
        height: 40px;
        margin: 5px;
        margin-left: 45px;
    }
    

    .registro__cuenta__texto-cuenta{
        font-size: 13px;
        margin-bottom: 5px;
    }
    .login-detail__article__containerBotonIngreso{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-between;
        align-items: center;
    
        width: 90%;
    
        margin-top: 10px;
    }
    .login-detail__article__containerBotonIngreso div{
        display: flex;
        flex-flow: wrap row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    
        font-size: 0.9rem;
    }
    
    .login-detail__article__containerBotonIngreso button{
        width: 70px;
        margin: 0;
    }
    
    /* REGISTRARSE */
  
    .registro__cuenta__texto-cuenta{
        font-size: 17px;
        width: 59%;
    }
    
    }
   



/* !!!!!!!!!!!!!!!!! */
/* LOGIN DETALLES */
/* !!!!!!!!!!!!!!!!! */

/* BOTON INGRESAR */

