<!DOCTYPE html>
<html lang="en">

  <%- include('../../partials/head', {title: 'Reclamos'}) %>

<body>
  <%- include('../../partials/header') %>
    <main class="reclamos_main">
      <section class="reclamos_main--section1">
        <h1 class="reclamos_main--section1--titulo">Política de devoluciones</h1>
        <h2 class="reclamos_main--section1--subtitulo">FALTANTES, DEVOLUCIONES Y CAMBIOS</h2>
        <p class="reclamos_main--section1--parrafo">De conformidad con lo establecido por la Ley de Defensa del Consumidor, 
          DistribuidoraPOP acepta la devolución de los productos adquiridos a través de su sitio web, 
          siempre que la misma sea realizada dentro de los <strong>(10) días</strong>  corridos contados a partir de la fecha 
          de recepción los mismos, sin costo.</p>
          <p class="reclamos_main--section1--parrafo">En caso de faltantes en un pedido se devolverá el importe de los productos faltantes al monedero para hacer uso del mismo 
            en futuras compras o solicitar el reintegro.</p>
      </section>
      <section class="reclamos_main--section2">
        <h2 class="reclamos_main--section1--subtitulo">CONDICIONES PARA DEVOLUCIONES Y CAMBIOS</h2>
        <p class="reclamos_main--section1--parrafo">La mercadería debe ser devuelta en perfectas condiciones, con sus accesorios, manuales y empaques originales.
          En todos los casos, se deberá conservar la factura de compra y remito de entrega.
          Los productos destinados para la alimentación, el uso o aseo personal, Así como aquellos que requieren instalación no tienen devolución una vez abiertos, usados o instalados.
          No se aceptarán reclamos por daños estéticos y/o faltantes una vez firmado el remito correspondiente.</p>
      </section>
      <section class="reclamos_main--section3">
        <h2 class="reclamos_main--section1--subtitulo">
          ¿CÓMO DEVOLVER O CAMBIAR PRODUCTOS?
        </h2>
        <p class="reclamos_main--section1--parrafo">Los cambios y/o devoluciones deberán
          Notificarse a Buon Aseo por correo electrónico a <strong>@distribuidorabuonaseo.com.ar</strong>
          Deberá informarnos:</p>
          <ul>
            <li>Producto</li>
            <li>Falla</li>
            <li>N° de factura</li>
            <li>N° de serie o lote</li>
            <li>Teléfono de contacto por si es necesario</li>
            <li>Si el producto presenta algún daño adjuntar imágenes del producto y la caja</li>
            <li>Nota con acuse de recibo y/o en forma personal, dentro de los plazos fijados para ello, siendo estos los únicos medios válidos para ejercer esta opción.</li>
            <li>En respuesta a tal solicitud, un asesor se contactará con el cliente para brindar toda la información necesaria y la solución más cómoda para su conformidad. 
              El cambio de un producto podrá realizarse dentro de los 3 días de recibida la mercadería, por otro de igual precio y de mismas características.</li>
          </ul>
      </section>
    







    </main>
    <%- include('../../partials/footer') %>
</body>

</html>