<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>Como comprar | Buon Aseo</title>
</head>

<body>
    <header class="header">
        <section class="header_section_uno">
            <article class="header_section_logo">
                <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
            </article>
            <article class="header_section_input">
                <input type="text" placeholder="Que producto busca?" />
                <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </article>
            <article class="header_section_user_car">
                <h4 class="home_header_ingresar">Ingresar</h4>
                <a href="formulario"><i class="fa-solid fa-circle-user"></i></a>
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </article>
        </section>
        <section class="header_section_dos">
            <button class="header_section_hamburguesa"
                onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"><i
                    class="fa fa-bars"></i></button>
            <nav class="header_section_dos_lista">
                <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
                <ul class="header_section_dos_lista--1">
                    <li>
                        <a href="#">Categorias</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Informacion</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Contacto</a>

                    </li>
                    <hr>
                    <li>
                        <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor</a>
                    </li>
                    <hr>
                    <li>
                        <button><a href="#">Boton de arrepentimiento</a></button>
                    </li>
                    <hr>
                </ul>
            </nav>
        </section>
    </header>
    <main class="nosotrosQuienesSomos">
      <section class="nosotrosQuienesSomos__section comoComprar__section">
        <article class="nosotrosQuienesSomos__section__article">
          <h1>Pasos para comprar</h1>
          <h2>Registrarse <i class="fa-solid fa-registered"></i></h2>
          <p>Para comprar tenés que crear un usuario en la web completando el formulario de alta de cliente super sencillo! Mientras más prolija y completa sea la carga de datos el usuario se registrará exitosamente.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Revisar E-mail <i class="fa-solid fa-envelope"></i></h2>
          <p>Luego de registrarte, recibirás un correo al mail provisto para confirmar que tu correo electrónico este bien. No olvides revisar spam, social, promociones o notificaciones; ya que puede llegar en esas categorías.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Comprobación de datos <i class="fa-solid fa-circle-check"></i></h2>
          <p>Una vez confirmado tu correo electrónico nos comunicaremos contigo para corroborar tus datos y darte de alta como cliente para que puedas ver los precios y gestionar tus compras de manera simple y rápida.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Confrimación <i class="fa-solid fa-user-check"></i></h2>
          <p>Recibirás un mail de bienvenida donde te confirma que se ha activado la cuenta correctamente.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Iniciar sesión <i class="fa-solid fa-arrow-right-to-bracket"></i></h2>
          <p>Ahora sí, podes navegar libremente nuestro sitio diseñado exclusivamente para vos! Ingresando en https://www.buonaseo.com.ar/ e iniciando sesión con tu correo electrónico y contraseña.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Agregar al carrito <i class="fa-solid fa-cart-plus"></i></h2>
          <p>Para comprar tenés que ir agregando los productos que desees al carrito. Los mismos los vas a encontrar en el buscador colocando palabras clave, o bien navegando las distintas categorías de artículos donde se encuentran todos los productos clasificados.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Revisar tus compras <i class="fa-solid fa-eye"></i></h2>
          <p>Antes de finalizar la compra, tenés la posibilidad de agregar, modificar y/o eliminar productos tal como desees.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Finalizar compra <i class="fa-solid fa-flag-checkered"></i></h2>
          <p>Una vez que tu pedido esté listo, hace clic en finalizar compra.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Detalles del envio <i class="fa-solid fa-table-list"></i></h2>
          <p>¡Ya falta poco! Elegí si tu pedido va por envío o si retiras en tienda. En el caso de envíos, verifica que todos los datos de entrega estén correctos y para retiros en tienda, coloca la fecha y hora en la que vas a retirar tu pedido. Por último, antes de finalizar tu compra es importante que aclares todos los detalles que creas necesarios correspondientes a tu pedido en la solapa de observaciones.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Finalizada la compra <i class="fa-solid fa-check"></i></h2>
          <p>Luego de finalizar el proceso de compra, nos comunicaremos contigo cuando el pedido este preparado para confirmarte detalles del mismo y coordinar la entrega.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Historial y carrito <i class="fa-solid fa-clipboard-check"></i></h2>
          <p>Tené en cuenta que en tu usuario contas con un historial de compras dónde vas a poder ver reflejados tus últimos pedidos y los productos que compres con mayor frecuencia.</p>
          <p>Si no finalizaste tu compra, quedará pendiente en el carrito.</p>
        </article>
      </section>
    </main>
    <footer class="pie-de-pagina">
        <!-- IMAGEN DE FONDO -->
        <section class="pie-de-pagina__cajaImg">
          <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
        </section>
        <!-- CONTENEDORES -->
        <section class="pie-de-pagina__contenedores">
          <!-- CONTENEDOR 1 -->
          <article class="pie-de-pagina__contenedor__1">
            <!-- NOSOTROS -->
            <div class="pie-de-pagina__contenedor__1__box1">
              <h3>NOSOTROS</h3>
              <a href="/footer/nosotros">¿Quiénes somos?</a>
            </div>
            <!-- INFO -->
            <div class="pie-de-pagina__contenedor__1__box2">
              <h3>INFORMACION</h3>
              <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
              <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
              <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
            </div>
            <!-- AYUDA -->
            <div class="pie-de-pagina__contenedor__1__box3">
              <h3>AYUDA</h3>
              <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
              <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
              <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
            </div>
            <!-- DEFENSA -->
            <div class="pie-de-pagina__contenedor__1__box4">
              <h3>DEFENSA DEL CONSUMIDOR</h3>
              <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para reclamos ingrese aquí</a>
              <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank" class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
              <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento" class="pie-de-pagina__contenedor__1__box4__aBoton"><button class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
            </div>
            <!-- CONTACTO -->
            <div class="pie-de-pagina__contenedor__1__box5">
              <h3>CONTACTO</h3>
              <a href="tel:1142309399">(11) 42309399</a>
              <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
              <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>
            </div>
            <!-- REDES -->
            <div class="pie-de-pagina__contenedor__1__box6">
              <h3>REDES SOCIALES</h3>
              <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
                <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </nav>
            </div>
          </article>
          <!-- CONTENEDOR 2 -->
          <article class="pie-de-pagina__contenedor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
          </article>
        </section>
      </footer>
</body>

</html>