<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>Preguntas frecuentes | Buon Aseo</title>
</head>

<body>
    <header class="header">
        <section class="header_section_uno">
            <article class="header_section_logo">
                <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
            </article>
            <article class="header_section_input">
                <input type="text" placeholder="Que producto busca?" />
                <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </article>
            <article class="header_section_user_car">
                <h4 class="home_header_ingresar">Ingresar</h4>
                <a href="formulario"><i class="fa-solid fa-circle-user"></i></a>
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </article>
        </section>
        <section class="header_section_dos">
            <button class="header_section_hamburguesa"
                onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"><i
                    class="fa fa-bars"></i></button>
            <nav class="header_section_dos_lista">
                <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
                <ul class="header_section_dos_lista--1">
                    <li>
                        <a href="#">Categorias</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Informacion</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Contacto</a>

                    </li>
                    <hr>
                    <li>
                        <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor</a>
                    </li>
                    <hr>
                    <li>
                        <button><a href="#">Boton de arrepentimiento</a></button>
                    </li>
                    <hr>
                </ul>
            </nav>
        </section>
    </header>
    <main class="preguntasFrecuentes">
      <section class="preguntasFrecuentes__section">
        <!-- TITULO -->
        <div class="preguntasFrecuentes__section__cajaTitulo">
          <h1>Preguntas frecuentes</h1>
        </div>
        <!-- ARTICULOS -->
        <article class="preguntasFrecuentes__section__article" onclick="document.querySelector('.preguntasFrecuentes__section__respuesta1').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Cómo comprar en Buon Aseo?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta1">Es simple y rápido, solo tenés que ingresar al siguiente link y seguir los pasos! <a href="/footer/ayuda/comoComprar">Cómo comprar</a></p>
        <article class="preguntasFrecuentes__section__article" onclick="document.querySelector('.preguntasFrecuentes__section__respuesta2').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Cómo accedo a los precios?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta2">Para ver los precios es fundamental registrarte como cliente, si ya lo hiciste y aun no los podes ver, aguarda la llamada de un representante BuonAseo, o comunicate con nosotros.</p>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta3').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Hacen envios?¿Cúales son los dias de entrega?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta3">Si! Hacemos envíos a todos el país, ingresa <a href="/footer/informacion/puntosEntrega">acá</a> y entérate de todo.</p>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta4').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Cúal es el monto mínimo de compra?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta4">El monto mínimo para retiro en tienda es de $10000, y el monto mínimo de compra para envíos es de $40000.</p>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta5').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Cúales son los medios de pagos?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <ul class="preguntasFrecuentes__section__respuesta5">
          <li>Envíos al interior del país: Pago anticipado por depósito en efectivo o transferencia bancaria previo al envío de la mercadería.</li>
          <li>Entregas directas: Contado contra entrega de la mercadería o anticipado vía deposito | transferencia bancaria.</li>
          <li>Compra o retiro en mostrador: Contado en efectivo por caja. Tarjeta debito: Cabal, Visa y Mastercard. Anticipado vía deposito | transferencia bancaria.</li> 
        </ul>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta6').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Dónde puedo visitarlos?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta6">Vení a conocer nuestro showroom! Encontrarás todos los productos que comercializamos en exhibición! Acercate a <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>. Los pedidos deben realizarse por la página web donde encontrarás publicados todos nuestros productos; Una vez que hayas completado tu compra nos comunicaremos con vos para coordinar día y horario de retiro en tienda.</p>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta7').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Se puede fraccionar la mercadería?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <p class="preguntasFrecuentes__section__respuesta7">Si, dependiendo del artículo que quieras comprar. En la web, debajo de la foto del artículo podes encontrar predeterminada la cantidad que viene en el pack o bulto cerrado. Hay ciertos productos, como por ejemplo: esponjas de cocina, trapos de piso y papel higiénico entre otros; que obligatoriamente se deben comprar por un mínimo determinado de unidades.</p>
        <article class="preguntasFrecuentes__section__article"  onclick="document.querySelector('.preguntasFrecuentes__section__respuesta8').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
          <h2>¿Cúanto demora la entrega una vez efectuada la compra?</h2>
          <div class="preguntasFrecuentes__section__article__cajaIcono">
            v
          </div>
        </article>
        <ul class="preguntasFrecuentes__section__respuesta8">
          <li>
            <ul>
              <li><span>Envios:</span></li>
              <li>Una vez realizado el pedido, deberás tener en cuenta que será preparado y controlado por orden de llegada; Luego nos comunicaremos contigo para informarte los detalles del mismo y avanzar sobre la facturación y te enviaremos nuestros datos bancarios para que puedas realizar el pago. Al momento de recibir el comprobante de pago y su acreditación bancaria el pedido será despachado.</li>
            </ul>
          </li>
          <li>
            <ul>
              <li><span>Retiro en tienda:</span></li>
              <li>Para venir a retirar tu compra a BuonAseo el procedimiento es similar a los envíos. Cuando tu pedido este preparado y controlado nos pondremos en contacto contigo para comunicarte detalles del mismo, así como también coordinar día y horario de retiro en tienda. Luego se realizará la facturación y posteriormente el pago y retiro de mercadería.</li>
            </ul>
          </li>
        </ul>
      </section>
    </main>
    <footer class="pie-de-pagina">
        <!-- IMAGEN DE FONDO -->
        <section class="pie-de-pagina__cajaImg">
          <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
        </section>
        <!-- CONTENEDORES -->
        <section class="pie-de-pagina__contenedores">
          <!-- CONTENEDOR 1 -->
          <article class="pie-de-pagina__contenedor__1">
            <!-- NOSOTROS -->
            <div class="pie-de-pagina__contenedor__1__box1">
              <h3>NOSOTROS</h3>
              <a href="/footer/nosotros">¿Quiénes somos?</a>
            </div>
            <!-- INFO -->
            <div class="pie-de-pagina__contenedor__1__box2">
              <h3>INFORMACION</h3>
              <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
              <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
              <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
            </div>
            <!-- AYUDA -->
            <div class="pie-de-pagina__contenedor__1__box3">
              <h3>AYUDA</h3>
              <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
              <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
              <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
            </div>
            <!-- DEFENSA -->
            <div class="pie-de-pagina__contenedor__1__box4">
              <h3>DEFENSA DEL CONSUMIDOR</h3>
              <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para reclamos ingrese aquí</a>
              <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank" class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
              <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento" class="pie-de-pagina__contenedor__1__box4__aBoton"><button class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
            </div>
            <!-- CONTACTO -->
            <div class="pie-de-pagina__contenedor__1__box5">
              <h3>CONTACTO</h3>
              <a href="tel:1142309399">(11) 42309399</a>
              <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
              <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>
            </div>
            <!-- REDES -->
            <div class="pie-de-pagina__contenedor__1__box6">
              <h3>REDES SOCIALES</h3>
              <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
                <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </nav>
            </div>
          </article>
          <!-- CONTENEDOR 2 -->
          <article class="pie-de-pagina__contenedor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
          </article>
        </section>
      </footer>
</body>

</html>