<!DOCTYPE html>
<html lang="en">

  <%- include('../../partials/head', {title: 'Metodos de Pago'}) %>

<body>
  <%- include('../../partials/header') %>
    <main class="metodosDePago">
      <section class="metodosDePago__section">
        <article class="metodosDePago__section__article">
          <!-- TITULO -->
          <h1>Medios de pago</h1>
          <p>Podés pagar tus compras con cualquiera de estos medios. Es rápido y seguro, siempre.</p>
        </article>
        <article class="metodosDePago__section__article">
          <!-- TARJETAS DE CREDITO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-credit-card"></i></div>
          <h4>Tarjetas de crédito en hasta 24 cuotas*</h4>
          <small>Acreditación instantánea.</small>
          <div>
            <!-- IMG TarCre -->
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/a5f047d0-9be0-11ec-aad4-c3381f368aaf-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b2c93a40-f3be-11eb-9984-b7076edb0bb7-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/0fada860-571c-11e8-8364-bff51f08d440-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/c9f71470-6f07-11ec-9b23-071a218bbe35-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/33ea00e0-571a-11e8-8364-bff51f08d440-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/5cc05a00-d012-11ea-be41-3936b95cb468-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/992bc350-f3be-11eb-826e-6db365b9e0dd-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/aa2b8f70-5c85-11ec-ae75-df2bef173be2-m.svg" alt="">
          </div>
          <small>*La cantidad de cuotas puede variar según la tarjeta.</small>
        </article>
        <article class="metodosDePago__section__article">
          <!-- TARJETAS DE DEBITO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-credit-card"></i></div>
          <h4>Tarjetas de débito</h4>
          <small>Acreditación instantánea.</small>
          <div>
            <!-- IMG TarDeb -->
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/ce454480-445f-11eb-bf78-3b1ee7bf744c-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/157dce60-571b-11e8-95d8-631c1a9a92a9-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/cb0af1c0-f3be-11eb-8e0d-6f4af49bf82e-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/312238e0-571b-11e8-823a-758d95db88db-m.svg" alt="">
            <img src="https://http2.mlstatic.com/storage/logos-api-admin/b4534650-571b-11e8-95d8-631c1a9a92a9-m.svg" alt="">
          </div>
        </article>
        <article class="metodosDePago__section__article">
          <!-- EFETIVO -->
          <div class="metodosDePago__section__article__icono"><i class="fa-solid fa-money-bill-1-wave"></i></div>
          <h4>Efectivo</h4>
          <p>Es muy simple: cuando termines tu compra, te daremos las instrucciones para que sepas cómo y dónde pagarla</p>
          <div>
            <!-- IMG EFEC -->
            <figure>
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/fec5f230-06ee-11ea-8e1e-273366cc763d-m.svg" alt="">
              <small>Acreditación en 1 día hábil.</small>
            </figure>
            <figure>
              <img src="https://http2.mlstatic.com/storage/logos-api-admin/443c34d0-571b-11e8-823a-758d95db88db-m.svg" alt="">
              <small>Acreditación instantánea.</small>
            </figure>
          </div>
        </article>
      </section>
    </main>
    <%- include('../../partials/footer') %>
</body>

</html>