<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head', {title: 'Preguntas Frecuentes' }) %>

  <body class="preguntasFrecuentes-body">
    <%- include('../../partials/header') %>
      <main class="preguntasFrecuentes">
        <section class="preguntasFrecuentes__section">
          <!-- TITULO Y BUSCADOR-->
          <!-- tiene un + al lado para agregar una pregunta, si hace click manda la peticion al metodo agregarPregunta -->
          <div class="preguntasFrecuentes__section__cajaTitulo">
            <h1>Preguntas frecuentes <% if (locals.adminEntry) { %>
              <a href="/footer/preguntas/agregar"><i class="fa-solid fa-plus"></i></a>
            <% } %> </h1>
            <!-- metodo searchPregunta de footerController, mandamos el keywords a la vista preguntasEncontradas-->
            <form action="/footer/preguntas/search" class="header_section_input preguntasFrecuentes_barraBuscador" method="get">
              <input type="text" name="keywords" placeholder="Buscar una pregunta...">
              <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </form>
          </div>
          <!-- ARTICULOS -->
            <%- include('../../partials/preguntas', {array : preguntas}) %> 
        </section>
      </main>
      <%- include('../../partials/footer') %>
  </body>

</html>