/* CABECERA */
.nosotrosQuienesSomos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    width: 100%;
}
.nosotrosQuienesSomos__section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 20px;

    width: 80%;
}
.nosotrosQuienesSomos__section__article h1{
    margin: 30px 0 20px 0;

    color: var(--azulFuerte);
}
.nosotrosQuienesSomos__section__article h2{
    margin: 20px 0;
}
.nosotrosQuienesSomos__section__article p{
    margin-bottom: 20px;

    line-height: 24px;
}
.nosotrosQuienesSomos__section__article span{
    color: var(--azulFuerte);

    font-weight: 700;
}