<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Logo.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/validacion.css">
  <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
  <script src="/javascripts/imagen_preview.js"></script>
  <script src="/javascripts/form-login.js"></script>
  <script src="/javascripts/carrito.js" defer></script>
  <script src="/javascripts/validaciones/validaciones_products/crearProducto.js" defer></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11" id="sweetAlert"></script>
  <title><%= title %>  | Buon Aseo</title>
</head>

<script src="https://unpkg.com/jwt-decode/build/jwt-decode.js"defer></script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<meta name="referrer" content="no-referrer-when-downgrade" />
<script src="/javascripts/google_signin.js" async defer></script>
<script src="/javascripts/facebook_signin.js" async defer></script>

<script>
  
</script>
