<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>Politicas de privacidad | Buon Aseo</title>
</head>

<body>
    <header class="header">
        <section class="header_section_uno">
            <article class="header_section_logo">
                <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
            </article>
            <article class="header_section_input">
                <input type="text" placeholder="Que producto busca?" />
                <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </article>
            <article class="header_section_user_car">
                <h4 class="home_header_ingresar">Ingresar</h4>
                <a href="formulario"><i class="fa-solid fa-circle-user"></i></a>
                <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
            </article>
        </section>
        <section class="header_section_dos">
            <button class="header_section_hamburguesa"
                onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')"><i
                    class="fa fa-bars"></i></button>
            <nav class="header_section_dos_lista">
                <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
                <ul class="header_section_dos_lista--1">
                    <li>
                        <a href="#">Categorias</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Nosotros</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Informacion</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                    <hr>
                    <li>
                        <a href="#">Contacto</a>

                    </li>
                    <hr>
                    <li>
                        <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor</a>
                    </li>
                    <hr>
                    <li>
                        <button><a href="#">Boton de arrepentimiento</a></button>
                    </li>
                    <hr>
                </ul>
            </nav>
        </section>
    </header>
    <main class="nosotrosQuienesSomos">
      <section class="nosotrosQuienesSomos__section">
          <article class="nosotrosQuienesSomos__section__article">
            <h1>Politicas de privacidad</h1>
            <p>Buon Aseo conoce su importante preocupación por la seguridad de su información privada derivada del uso del Sitio Web. Consideramos con especial seriedad la protección de sus datos personales. Por ello, es fundamental que mediante la presente política de privacidad, se le informe mediante las medidas de seguridad de la empresa. Haciéndole saber que sus datos nunca serán utilizados para un fin ajeno al que se haya definido.</p>
            <p>Esta política se aplica a todos los sitios y servicios de propiedad operados por Sina® o sus Sitios Web vinculados de su propiedad. No se aplica a cualquier otro sitio a los que usted pudiera acceder por otro links, u otro tipo de vínculo.</p>
            <p>Buon Aseo se reserva el derecho de modificar la presente política para adaptarla a novedades legislativas y/o jurisprudenciales, así como a prácticas de la industria. En dichos casos, serán anunciados en esta página los cambios introducidos con antelación a su puesta en práctica. El permanente desarrollo de Internet requiere ajustes ocasionales de nuestra declaración de privacidad. Atento a todo ello, Sina® se reserva el derecho de hacer los cambios cuando sean necesarios y sin previo aviso.</p>
          </article>
          <article class="nosotrosQuienesSomos__section__article">
            <h2>Recolección de datos</h2>
            <p>Usted podrá utilizar nuestro sitio Web sin revelar sus datos personales. El uso de nuestro sitio Web no requiere que brinde información personal, excepto que la misma se requiera para suministrarle un producto o prestarle un servicio que nos solicite. Cualquier dato almacenado relacionado con la seguridad, será mantenido en anonimato de cada Usuario individual para que no se pueda identificar a la persona. En los supuestos en que sus datos personales sean brindados a terceros para suministrarle productos o prestarle servicios que nos haya solicitado, o para otros fines para los que nos dio su consentimiento, usamos medios técnicos y organizativos para garantizar el cumplimiento de la normativa aplicable relativa a la seguridad de los datos. Sus datos serán incorporados a un fichero y serán usados con la única finalidad de llevar a cabo la prestación de servicios o suministro de productos requeridos como así también para realizar solamente tareas administrativas.</p>
          </article>
          <article class="nosotrosQuienesSomos__section__article">
            <h2>Recolección y tratamiento de datos personales</h2>
            <p>Los datos personales solamente se recolectan cuando usted los brinda, al registrarse, al completar formularios, correos electrónicos, como parte de un pedido de productos o servicios, al formular una consulta, pregunta o solicitar información sobre productos requeridos o en situaciones parecidas en las que haya elegido darnos esta información. Solo usted autoriza y otorga su consentimiento expreso para el tratamiento de sus datos personales para los fines expuestos. La base de datos permanece almacenada en procesadores de datos o servidores. Sus datos personales no serán transferidos, salvo para suministrarle productos o prestarle servicios o bien si hemos obtenido su consentimiento o cuando así lo exija la ley.</p>
          </article>
          <article class="nosotrosQuienesSomos__section__article">
            <h2>Derecho de Cancelación</h2>
            <p>Usted tiene derecho a retirar su consentimiento a la utilización de sus datos personales en lo sucesivo, en cualquier momento, puede requerir su derecho de acceder, rectificar, cancelar y oponerse al tratamiento de los datos personales que obren en poder de Sina®, mediante solicitud por escrito (carta documento) dirigida a la empresa, indicando "Protección de Datos" y acreditando identidad de conformidad con lo dispuesto en la legislación vigente.</p>
          </article>
          <article class="nosotrosQuienesSomos__section__article">
            <h2>Retención de Datos</h2>
            <p>Únicamente retenemos datos personales durante el tiempo necesario para prestarle un servicio que nos solicito o por el cual nos dio su autorización durante el tiempo pertinente para la finalidad por la cual fueron recabados, salvo disposición en contrario por ley (por ejemplo respecto a un litigio pendiente).</p>
          </article>
      </section>
    </main>
    <footer class="pie-de-pagina">
        <!-- IMAGEN DE FONDO -->
        <section class="pie-de-pagina__cajaImg">
          <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
        </section>
        <!-- CONTENEDORES -->
        <section class="pie-de-pagina__contenedores">
          <!-- CONTENEDOR 1 -->
          <article class="pie-de-pagina__contenedor__1">
            <!-- NOSOTROS -->
            <div class="pie-de-pagina__contenedor__1__box1">
              <h3>NOSOTROS</h3>
              <a href="/footer/nosotros">¿Quiénes somos?</a>
            </div>
            <!-- INFO -->
            <div class="pie-de-pagina__contenedor__1__box2">
              <h3>INFORMACION</h3>
              <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
              <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
              <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
            </div>
            <!-- AYUDA -->
            <div class="pie-de-pagina__contenedor__1__box3">
              <h3>AYUDA</h3>
              <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
              <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
              <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
            </div>
            <!-- DEFENSA -->
            <div class="pie-de-pagina__contenedor__1__box4">
              <h3>DEFENSA DEL CONSUMIDOR</h3>
              <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para reclamos ingrese aquí</a>
              <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank" class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
              <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento" class="pie-de-pagina__contenedor__1__box4__aBoton"><button class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
            </div>
            <!-- CONTACTO -->
            <div class="pie-de-pagina__contenedor__1__box5">
              <h3>CONTACTO</h3>
              <a href="tel:1142309399">(11) 42309399</a>
              <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
              <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos Aires</a>
            </div>
            <!-- REDES -->
            <div class="pie-de-pagina__contenedor__1__box6">
              <h3>REDES SOCIALES</h3>
              <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
                <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
                <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i class="fa-brands fa-twitter"></i></a>
              </nav>
            </div>
          </article>
          <!-- CONTENEDOR 2 -->
          <article class="pie-de-pagina__contenedor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
          </article>
        </section>
      </footer>
</body>

</html>