/* CABECERA */
.metodosDePago{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.metodosDePago__section{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 50px;

    width: 80%;
    max-width: 870px;
}

/* TITULO */
.metodosDePago__section__article h1{
    color: var(--azulFuerte);
    margin-bottom: 10px;
}
.metodosDePago__section__article h1 a i{
    color: var(--azulFuerte);
}

/* ARTICULOS */
.metodosDePago__section__article__icono{
    color: var(--azulFuerte);
    margin-right: 4px;
}
.metodosDePago__section__article__icono i{
    border: 1px var(--azulClaro) solid;
    border-radius: 50%;

    padding: 7px;
}
.metodosDePago__section__article div{
    margin: 10px 0;

    display: flex;
    flex-flow: row wrap;
    gap: 30px;
}

/* EFECTIVO */
.metodosDePago__section__article div figure{
    width: 90px;
}
.metodosDePago__section__article div figure img{
    max-width: 90px;
}