/* CABECERA */

.preguntasFrecuentes{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.preguntasFrecuentes__section{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 40px;

    width: 80%;

    margin-bottom: 30px;
}

/* TITULO */
.preguntasFrecuentes__section__cajaTitulo{
    width: 100%;
    

    border-bottom: var(--azulFuerte) 10px solid;
}
.preguntasFrecuentes__section__cajaTitulo h1{
    margin-bottom: 4px;
}

/* Barra */
.preguntasFrecuentes_barraBuscador{
    width: 100%;
    height: 2%;
    margin-left: 0;
    margin-bottom: 4px;

    border: 1px solid var(--azulFuerte);
    border-radius: 5px;
}

/* ARTICULOS */
.preguntasFrecuentes__section__article{
    border: var(--azulFuerte) 1px solid;
    border-radius: 10px;

    width: 100%;
    max-height: 200px;

    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    line-height: 24px;

    transition: 750ms;
}
.preguntasFrecuentes__section__article:hover{
    background-color: var(--azulClaro);
}

.preguntasFrecuentes__section__article h2{
    width: 90%;
}
.preguntasFrecuentes__section__article div{
    width: 10px;
}

.preguntasFrecuentes__section__respuesta0,
.preguntasFrecuentes__section__respuesta1,
.preguntasFrecuentes__section__respuesta2,
.preguntasFrecuentes__section__respuesta3,
.preguntasFrecuentes__section__respuesta4,
.preguntasFrecuentes__section__respuesta5,
.preguntasFrecuentes__section__respuesta6,
.preguntasFrecuentes__section__respuesta7,
.preguntasFrecuentes__section__respuesta8,
.preguntasFrecuentes__section__respuesta9,
.preguntasFrecuentes__section__respuesta10,
.preguntasFrecuentes__section__respuesta11,
.preguntasFrecuentes__section__respuesta12,
.preguntasFrecuentes__section__respuesta13,
.preguntasFrecuentes__section__respuesta14,
.preguntasFrecuentes__section__respuesta15,
.preguntasFrecuentes__section__respuesta16,
.preguntasFrecuentes__section__respuesta17,
.preguntasFrecuentes__section__respuesta18,
.preguntasFrecuentes__section__respuesta19,
.preguntasFrecuentes__section__respuesta20,
.preguntasFrecuentes__section__respuesta21,
.preguntasFrecuentes__section__respuesta22,
.preguntasFrecuentes__section__respuesta23,
.preguntasFrecuentes__section__respuesta24{
    display: none;
}
.preguntasFrecuentes__section__respuesta1-Responder{
    display: block;
}
.preguntasFrecuentes__section a{
    color: var(--azulFuerte);
    font-size: 16px;
}
.preguntasFrecuentes__section span{
    color: var(--azulFuerte);
    text-decoration: underline;
}

/* PREGUNTAS AGREGAR */
.preguntasAgregar__Caja{
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    width: 100%;
}
.preguntasAgregar__Caja__boton{
    display: flex;
    flex-flow: wrap row;
    justify-content: right;
    width: 90%;
    gap: 10px;
}