<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
    <title>passwordLost | Buon Aseo</title>
</head>
<body>
    <header>

    </header>
    <main class="passLost">
        <section class="passLost_section">
            <h1 class="passLost_section_titulo">Mi cuenta</h1>
            <p class="passLost_section_parrafo">¿Perdiste tu contraseña? Por favor, introduce tu nombre de usuario o correo electrónico. Recibirás un enlace para crear una contraseña nueva por correo electrónico</p>
            <div class="passLost_section_cajaInput">
                <label for="email">Nombre de usuario o correo electrónico</label>
                <input type="text, email" id="email">
            </div>
            <button class="passLost_section_boton">Restablecer contraseña</button>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>