<%- include('../partials/head', {title: 'Home'}) %> 
  <body>
    <%- include('../partials/header') %>
    <section class="home_main_banner">
      <img class="home_main_banner_img" src="../../../img/fotos-productos/imagen-Banner.jpg">
    </section>
    <section class="home_main_carousel">
      <div class="carousel">
          <button id="home_retroceder"><i class="fa-solid fa-angle-left"></i></button>
          <div id="home_imagen_carusel"></div>
          <button id="home_avanzar"><i class="fa-solid fa-angle-right"></i></button>
      </div>
  </section>
    <main class="home_main">
      <section class="home_main_section_productos_destacados">
        <article class="home_main_section_article_titulo">
          <h1 class="home_main_titulo">Productos Destacados</h1>
        </article>
        <article class="home_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"><img class="home_main_section_productos_destacados_img--mobile"
              src="../../../img/fotos-productos/jabones/jabon-imagen-1.png"
              alt="imagen producto"
          /></a>
            <div class="home_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"><img class="home_main_section_productos_destacados_img--tablet"
              src="../../../img/fotos-productos/suavisantes/suavisante-imagen-1.png"
              alt="imagen producto"
          /></a>
            <div class="home_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
        </div>
        </div>
          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"> <img class="home_main_section_productos_destacados_img--deskop"
              src="../../../img/fotos-productos/liquido para pisos/liquidoP-imagen-1.png"
              alt="imagen producto"
          /></a>
           
            <div class="home_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

        </article>
        <article class="home_main_section_article_boton">
          <button class="home_main_button"><a href="productosdestacados">Ver mas ></a></button>
        </article>
      </section>
      <section class="home_main_section_productos_destacados">
        <article class="home_main_section_article_titulo">
          <h1 class="home_main_titulo">Ofertas</h1>
        </article>
        <article class="home_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"><img class="home_main_section_productos_destacados_img--mobile"
              src="../../../img/fotos-productos/detergentes/detergente-imagen-1.png"
              alt="imagen producto"
          /></a>
              
            <div class="home_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"><img class="home_main_section_productos_destacados_img--tablet"
              src="../../../img/fotos-productos/jabones/jabon-imagen-2.png"
              alt="imagen producto"
          /></a>
              
            <div class="home_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detalle"><img class="home_main_section_productos_destacados_img--deskop"
              src="../../../img/fotos-productos/suavisantes/suavisante-imagen-2.png"
              alt="imagen producto"
          /></a>
            
            <div class="home_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

        </article>
        <article class="home_main_section_article_boton">
          <button class="home_main_button"><a href="ofertas">Ver mas ></a></button>
        </article>
      </section>
      <section>
        <h1 class="home_main_titulo"></h1>
      </section>
      <div class="home_main_slider--movimiento">
        <ul>
          <li>
            <img
              src="../../../img/fotos-productos/marcas/marca-ayudin.png"
              alt="slider1"
            />
          </li>
          <li>
            <img
              src="../../../img/fotos-productos/marcas/marca-downy.png"
              alt="slider2"
            />
          </li>
          <li>
            <img
              src="../../../img/fotos-productos/marcas/marca-misteMusculo.png"
              alt="slider3"
            />
          </li>
          <li>
            <img
              src="../../../img/fotos-productos/marcas/marca-suavitel.png"
              alt="slider4"
            />
          </li>
        </ul>
      </div>
    </main>
    <%- include('../partials/footer') %>
    <script>
      window.onload = function () {
          // Variables
          const IMAGENES = [
         
              '../../../img/fotos-productos/liquido para pisos/liquidoP-imagen-10.png',
              '../../../img/fotos-productos/jabones/jabon-imagen-10.png',
              '../../../img/fotos-productos/lavandinas/lavandina-imagen-10.png',
              '../../../img/fotos-productos/suavisantes/suavisante-imagen-10.png',
              '../../../img/fotos-productos/detergentes/detergente-imagen-10.png'
          ];
          const TIEMPO_INTERVALO_MILESIMAS_SEG = 1000;
          let posicionActual = 1;
          let $botonRetroceder = document.querySelector('#home_retroceder');
          let $botonAvanzar = document.querySelector('#home_avanzar');
          let $imagen = document.querySelector('#home_imagen_carusel');
          let $botonPlay = document.querySelector('#play');
          let $botonStop = document.querySelector('#stop');
          let intervalo;

          // Funciones

          /**
           * Funcion que cambia la foto en la siguiente posicion
           */
          function pasarFoto() {
              if(posicionActual >= IMAGENES.length - 1) {
                  posicionActual = 1;
              } else {
                  posicionActual++;
              }
              renderizarImagen();
          }

          /**
           * Funcion que cambia la foto en la anterior posicion
           */
          function retrocederFoto() {
              if(posicionActual <= 1) {
                  posicionActual = IMAGENES.length - 1;
              } else {
                  posicionActual--;
              }
              renderizarImagen();
          }

          /**
           * Funcion que actualiza la imagen de imagen dependiendo de posicionActual
           */
          function renderizarImagen () {
              $imagen.style.backgroundImage = `url(${IMAGENES[posicionActual]})`;
          }

          /**
           * Activa el autoplay de la imagen
           */
          function playIntervalo() {
              intervalo = setInterval(pasarFoto, TIEMPO_INTERVALO_MILESIMAS_SEG);
              // Desactivamos los botones de control
              $botonAvanzar.setAttribute('disabled', true);
              $botonRetroceder.setAttribute('disabled', true);
              $botonPlay.setAttribute('disabled', true);
              $botonStop.removeAttribute('disabled');

          }

          /**
           * Para el autoplay de la imagen
           */
          function stopIntervalo() {
              clearInterval(intervalo);
              // Activamos los botones de control
              $botonAvanzar.removeAttribute('enable');
              $botonRetroceder.removeAttribute('enable');
              $botonPlay.removeAttribute('enable');
              $botonStop.setAttribute('enable');
          }

          // Eventos
          $botonAvanzar.addEventListener('click', pasarFoto);
          $botonRetroceder.addEventListener('click', retrocederFoto);
          $botonPlay.addEventListener('click', playIntervalo);
          $botonStop.addEventListener('click', stopIntervalo);
          // Iniciar
          renderizarImagen();
      } 
  </script>
    </body>
</html>
