<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/img/Logo.png">
	<title>A CASA | Buon Aseo</title>
	<style>
		html{
			background-image: url('/img/notAdmin.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
			background-position: center 0px;
			height: 100%;
		}
		body {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center;
			
		}
		article{
			margin: 21%;
			
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			align-items: center; 
			gap: 40px;
			color: white;
		}
		article a{
			color: white;
		}
		div{
			border: 1px white solid;
			background-color: white;
			width: 2px;
			height: 70px;
		}
	</style>
</head>
<body>
	<article>
		<h1>No tienes los privilegios</h1>
		<div></div>
		<h1><a href="/">Volver al home</a></h1>
	</article>
	
    
</body>
</html>