<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Productos Destacados'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="ofertas_main">
        <article class="ofertas_main_section_article_titulo">
            <h1 class="ofertas_main_titulo">Productos en destacados</h1>
          </article>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="detalle"><img class="home_main_section_productos_destacados_img--mobile"
              src="../../../img/fotos-productos/detergentes/detergente-imagen-7.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="ofertas_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="ofertas_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="../../../img/fotos-productos/detergentes/detergente-imagen-9.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="ofertas_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="ofertas_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"> <img class="ofertas_main_section_productos_destacados_img--deskop"
              src="../../../img/fotos-productos/detergentes/detergente-imagen-8.png"
              alt="imagen producto"
          /></a>
           
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--mobile"
              src="../../../img/fotos-productos/suavisantes/suavisante-imagen-7.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="../../../img/fotos-productos/suavisantes/suavisante-imagen-8.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--deskop"
              src="../../../img/fotos-productos/suavisantes/suavisante-imagen-9.png"
              alt="imagen producto"
          /></a>
            
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--mobile"
              src="../../../img/fotos-productos/lavandinas/lavandina-imagen-7.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="../../../img/fotos-productos/lavandinas/lavandina-imagen-8.png"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="detalle"><img class="ofertas_main_section_productos_destacados_img--deskop"
              src="../../../img/fotos-productos/lavandinas/lavandina-imagen-9.png"
              alt="imagen producto"
          /></a>
            
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">Lorem$ %24</p>
              <br>
              <p class="home_main_parrafo_mobile_titulo">sit amet consectetur</p> 
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
    </body>
</html>
