<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/Logo.png">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://kit.fontawesome.com/7ad2cc9ddb.js" crossorigin="anonymous"></script>
  <title>passwordLost | Buon Aseo</title>
</head>

<body>

  <!-- HEADER -->
  <header class="header">
    <section class="header_section_uno">
      <article class="header_section_logo">
        <a href="/"><img src="/img/logoFinal.png" alt="logo" /></a>
      </article>
      <article class="header_section_input">
        <input type="text" placeholder="Que producto busca?" />
        <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
      </article>
      <article class="header_section_user_car">
        <h4 class="home_header_ingresar">Ingresar</h4>
        <a href="login"><i class="fa-solid fa-circle-user"></i></a>
        <a href="carrito"><i class="fa-solid fa-cart-shopping"></i></a>
      </article>
    </section>
    <section class="header_section_dos">
      <button class="header_section_hamburguesa"
        onclick="document.querySelector('.header_section_dos_lista').classList.toggle('show')">
        <i class="fa fa-bars"></i>
      </button>
      <nav class="header_section_dos_lista">
        <img src="/img/LogoInvertidoBlanco.png" alt="logo" />
        <ul class="header_section_dos_lista--1">
          <!-- CATEGORIAS -->
          <li onclick="document.querySelector('.header_section_dos_lista--submenu').classList.toggle('subMenu')">
            <a href="#">Categorias <i class="fa-solid fa-angle-down"></i></a>
            <ul class="header_section_dos_lista--submenu">
              <li><a href="#">Jabones</a></li>
              <hr>
              <li><a href="#">Suavizantes</a></li>
              <hr>
              <li><a href="#">Detergentes</a></li>
              <hr>
              <li><a href="#">Lavandina</a></li>
              <hr>
              <li><a href="#">Liquido para pisos</a></li>
              <hr>
            </ul>

          </li>
          <hr />
          <!-- NOSOTROS -->
          <li>
            <a href="/footer/nosotros">Nosotros</a>
          </li>
          <hr />
          <!-- INFO -->
          <li onclick="document.querySelector('.header_section_dos_lista--submenu1').classList.toggle('subMenu1')">
            <a href="#">Informacion <i class="fa-solid fa-angle-down"></i></a>
            <nav>
              <ul class="header_section_dos_lista--submenu1">
                <li><a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a></li>
                <hr>
                <li><a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a></li>
                <hr>
                <li><a href="/footer/informacion/puntosEntrega">Puntos de entrega</a></li>
                <hr>
              </ul>
            </nav>
          </li>
          <hr />
          <!-- AYUDA -->
          <li onclick="document.querySelector('.header_section_dos_lista--submenu2').classList.toggle('subMenu2')">
            <a href="#">Ayuda <i class="fa-solid fa-angle-down"></i></a>
            <nav>
              <ul class="header_section_dos_lista--submenu2">
                <li><a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a></li>
                <hr>
                <li><a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a></li>
                <hr>
                <li><a href="/footer/ayuda/metodosDePago">Métodos de pago</a></li>
                <hr>
              </ul>
            </nav>
          </li>
          <hr />
          <!-- CONTACTO -->
          <li onclick="document.querySelector('.header_section_dos_lista--submenu3').classList.toggle('subMenu3')">
            <a href="#">Contacto <i class="fa-solid fa-angle-down"></i></a>
            <nav>
              <ul class="header_section_dos_lista--submenu3">
                <li><a href="tel:1142309399">(11) 42309399</a></li>
                <hr>
                <li><a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a></li>
                <hr>
                <li><a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde -
                    Buenos Aires</a></li>
                <hr>
              </ul>
            </nav>
          </li>
          <hr />
          <!-- DEFENSA -->
          <li onclick="document.querySelector('.header_section_dos_lista--submenu4').classList.toggle('subMenu4')">
            <a class="header_section_dos_lista--1--defensa" href="#">Defensa del consumidor <i
                class="fa-solid fa-angle-down"></i></a>
            <nav>
              <ul class="header_section_dos_lista--submenu4">
                <li><a href="/footer/defensaDelConsumidor/reclamosIngresarAqui">
                  Para reclamos ingrese aquí</a></li>
                <hr>
                <li><a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank">
                  Ley N 24.240</a></li>
                <hr>
              </ul>
            </nav>
          </li>
          <hr />
          <!-- BOTON -->
          <li>
            <button><a href="/footer/defensaDelConsumidor/botonDeArrepentimiento">Boton de arrepentimiento</a></button>
          </li>
          <hr />
        </ul>
      </nav>
    </section>
  </header>

  <!-- MAIN -->
  <main class="passLost">
    <section class="passLost_section">
      <!-- TITULO -->
      <h1 class="passLost_section_titulo">Mi cuenta</h1>
      <!-- PARRAFO -->
      <p class="passLost_section_parrafo">¿Perdiste tu contraseña? Por favor, introduce tu nombre de usuario o correo
        electrónico. Recibirás un enlace para crear una contraseña nueva por correo electrónico</p>
      <!-- CAJA INPUT -->
      <div class="passLost_section_cajaInput">
        <label for="email">Nombre de usuario o correo electrónico</label>
        <input type="text, email" id="email" placeholder="example: email@gmail.com">
      </div>
      <!-- BOTON -->
      <button class="passLost_section_boton">Restablecer contraseña</button>
    </section>
  </main>

  <!-- FOOTER -->
  <footer class="pie-de-pagina">
    <!-- IMAGEN DE FONDO -->
    <section class="pie-de-pagina__cajaImg">
      <img src="/img/olasFooter.png" alt="" class="pie-de-pagina__imagenFondo">
    </section>
    <!-- CONTENEDORES -->
    <section class="pie-de-pagina__contenedores">
      <!-- CONTENEDOR 1 -->
      <article class="pie-de-pagina__contenedor__1">
        <!-- NOSOTROS -->
        <div class="pie-de-pagina__contenedor__1__box1">
          <h3>NOSOTROS</h3>
          <a href="/footer/nosotros">¿Quiénes somos?</a>
        </div>
        <!-- INFO -->
        <div class="pie-de-pagina__contenedor__1__box2">
          <h3>INFORMACION</h3>
          <a href="/footer/informacion/politicasPrivacidad">Políticas de privacidad</a>
          <a href="/footer/informacion/terminosCondiciones">Términos y condiciones</a>
          <a href="/footer/informacion/puntosEntrega">Puntos de entrega</a>
        </div>
        <!-- AYUDA -->
        <div class="pie-de-pagina__contenedor__1__box3">
          <h3>AYUDA</h3>
          <a href="/footer/ayuda/comoComprar">¿Cómo comprar?</a>
          <a href="/footer/ayuda/preguntasFrecuentes">Preguntas frecuentes</a>
          <a href="/footer/ayuda/metodosDePago">Métodos de pago</a>
        </div>
        <!-- DEFENSA -->
        <div class="pie-de-pagina__contenedor__1__box4">
          <h3>DEFENSA DEL CONSUMIDOR</h3>
          <a href="/footer/defensaDelConsumidor/reclamosIngresarAqui" class="pie-de-pagina__esquivarAumento">Para
            reclamos ingrese aquí</a>
          <a href="https://www.argentina.gob.ar/normativa/nacional/ley-24240-638" target="_blank"
            class="pie-de-pagina__esquivarAumento">Ley N 24.240</a>
          <a href="/footer/defensaDelConsumidor/botonDeArrepentimiento"
            class="pie-de-pagina__contenedor__1__box4__aBoton"><button
              class="pie-de-pagina__contenedor__1__box4__boton">BOTON DE ARREPENTIMIENTO</button></a>
        </div>
        <!-- CONTACTO -->
        <div class="pie-de-pagina__contenedor__1__box5">
          <h3>CONTACTO</h3>
          <a href="tel:1142309399">(11) 42309399</a>
          <a href="mailto:info@BuonAseo.com">info@BuonAseo.com</a>
          <a href="https://maps.app.goo.gl/JZfumo4UQM1vkVWb7" target="_blank">Coronel Mendez 1908 Wilde - Buenos
            Aires</a>
        </div>
        <!-- REDES -->
        <div class="pie-de-pagina__contenedor__1__box6">
          <h3>REDES SOCIALES</h3>
          <nav class="pie-de-pagina__contenedor__1__box6__redes__iconos">
            <a href="https://www.facebook.com/buonaseoo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://web.whatsapp.com/" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/buon_aseo/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://twitter.com/Richard79654371?t=M0OnTrTgoNQdmnZ4Q_TxFQ&s=09" target="_blank"><i
                class="fa-brands fa-twitter"></i></a>
          </nav>
        </div>
      </article>
      <!-- CONTENEDOR 2 -->
      <article class="pie-de-pagina__contenedor__2">
        <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
      </article>
    </section>
  </footer>
</body>

</html>