<!DOCTYPE html>
<html lang="en">

  <%- include('../../partials/head', {title: 'Puntos de Entrega'}) %>

<body>
  <%- include('../../partials/header') %>
    <main class="nosotrosQuienesSomos">
      <section class="nosotrosQuienesSomos__section puntosEntrega__section">
        <article class="nosotrosQuienesSomos__section__article">
          <h1>Envíos</h1>
          <p>¡Llegamos <span>a todo el país</span> con el mejor servicio de asesoramiento, venta y postventa del mercado!</p>
          <p>Tenes que hacer tu pedido con ANTICIPACIÓN, debido a que el espacio es LIMITADO.</p>
          <p><span>Mínimo de compra</span> para envíos sin cargo: $40000.-</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>GBA</h2>
          <p>ENTREGAS DIRECTAS:</p>
          <ul>
            <li>Escobar</li><li>Pilar</li><li>Lujan</li><li>Cañuelas</li>
          </ul>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>¡Ampliamos nuestras zonas de entrega directa!</h2>
          <p>Ahora también GRAN GBA; entregamos en las siguientes zonas y sus alrededores:</p>
          <li>GBA Zona Norte y Zona Oeste</li><li>GBA Zona Sudoeste</li><li>GLP y La Plata</li><li>GBA Zona Sur</li>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>¡VENI A RETIRAR TU PEDIDO EN MOSTRADOR!</h2>
          <p>Mínimo de compra: $10000.- Una vez realizado tu pedido, el retiro del mismo será programado por nuestro equipo de ventas, por orden de llegada.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h3>DÍAS Y HORARIOS:</h3>
          <p>LUNES A VIERNES: de 8 a 12 hs. y de 14 a 17 hs. y SABADOS: de 8 a 12 hs.</p>
        </article>
      </section>
    </main>
    <%- include('../../partials/footer') %>
</body>

</html>