<!DOCTYPE html>
<html lang="en">

  <%- include('../../partials/head', {title: 'Terminos y Condiciones'}) %>

<body>
  <%- include('../../partials/header') %>
    <main class="nosotrosQuienesSomos">
      <section class="nosotrosQuienesSomos__section">
        <article class="nosotrosQuienesSomos__section__article">
          <h1>Términos y Condiciones de uso del sitio web</h1>
          <h2>Términos y Condiciones de uso del sitio</h2>
          <p>El presente contrato (en adelante el “Contrato”) describe los términos y condiciones generales (las “Condiciones Generales”) que regulan el uso de los contenidos y servicios que integran el sitio web www.buonaseo.com.ar (en adelante, el “Sitio Web”) que heroesSilenciosos SRL (“BuonAseo”) pone a disposición de los usuarios de Internet (el “Usuario”).</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Acceso y utilización del Sitio Web</h2>
          <p>La utilización del Sitio Web atribuye la condición de usuario del mismo y expresa la aceptación plena y sin reservas del Usuario de todas y cada una de las Condiciones Generales en la versión publicada por BuonAseo en el momento mismo en que el Usuario acceda al Sitio Web. En consecuencia, el Usuario debe leer atentamente las Condiciones Generales en cada una de las ocasiones en que se proponga utilizar el Sitio Web y cualquier Usuario que no acepte estas Condiciones Generales, las cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar el Sitio Web y/o los servicios.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Registración</h2>
          <p>En consideración con el uso del Servicio, el Usuario deberá ingresar toda la información requerida en el Sitio Web. En consecuencia, el Usuario declara y garantiza a BuonAseo que toda la información que suministre, así como cualquier otro tipo de información que tienda le requiera es y será exacta, actual y verdadera y se suministrará de manera completa, comprometiéndose asimismo a mantener actualizada la información suministrada.</p>
        </article>
        <article class="nosotrosQuienesSomos__section__article">
          <h2>Propiedad intelectual</h2>
          <p>El Contenido del Sitio Web, que incluye textos, gráficos, diseños, software y programación utilizados y/o exhibidos en el Sitio Web, es exclusiva propiedad de BuonAseo, y se encuentra protegido por normas locales y tratados internacionales.</p>
        </article>
      </section>
    </main>
    <%- include('../../partials/footer') %>
</body>

</html>