<!DOCTYPE html>
<html lang="en">
 
  <%- include('../partials/head', {title: 'Login'}) %>

<body class="registro">
  <main class="registro_main">
    <!-- LOGO, TITULO Y SALIDA -->
    <section class="registro__logo-y-titulo">
      <nav class="registro__logo-y-titulo__logo">
        <a href="/"><img class="registro__logo-y-titulo__logo2" src="/img/Logo.png" alt="logo pagina"></a>
      </nav>
      <a class="registro__logo-y-titulo__salida" href="/"><i class="fa-regular fa-circle-xmark"></i></a>
      <h2 class="registro__logo-y-titulo__titulo">Ingresar</h2>
    </section>
    <!-- INGRESO REDES -->
    <section class="registro__redes">
      <h4 class="registro__redes__titulo">Con su red favorita</h4>
      <article class="registro__redes__containerFB">
       
       
        

      <article class="registro__redes__containerGoogle">
        <div id="g_id_onload"
          data-client_id="893438789002-ale6m7ln7e0ud8dm3tnt4gabs6hnsftv.apps.googleusercontent.com"
          data-login_uri="http://localhost:3030/users/login"
          data-auto_prompt="false"
          data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="center">
        </div>

            <!-- REGISTRARSE -->
            
              <article class="login-detail__cuenta">
                <div class="login-detail__cuenta-div1">
                  <h6 class="registro__cuenta__texto-cuenta">¿Perdió su contraseña?</h6>
                <button class="login-detail__cuenta-botonRegistro"><a href="password-lost" class="registro__cuenta__ingresar">Ayuda</a></button> 
                  
              </div> 
                  <div class="login-detail__cuenta-div2">
                    <h6 class="registro__cuenta__texto-cuenta">¿Es nuevo en Buon Aseo?</h6>
                  <button class="login-detail__cuenta-botonRegistro"><a class="registro__cuenta__ingresar" href="formulario"> Registrarse</a></button>
                </div>
              </article>
           
    </section>
    <!-- LINEA -->
    <section class="registro__lineaVertical">
      <div class="registro__lineaVertical__vertical-one-line"></div>
      <p class="registro__lineaVertical__letraO">o</p>
      <div class="registro__lineaVertical__vertical-two-line"></div>
    </section>
    <!-- INGRESO EMAIL -->
    <section class="registro__email">
      <h4 class="registro__email__titulo">Con su Email</h4>
      <form action="/users/login" method="POST" id="registro-main-form">
        <article class="registro__email__container">
          <input class="registro__email__texto" value="<%= locals.old && old.email %>" type="email, text"  name="email" id="registro-main-form-email"
            placeholder="Ingresa Email*" />
          <img src="/img/login-register/imgEmail.png" alt="">
          <small><%= locals.errors && errors.email && errors.email.msg %></small>
          <span id="registro-text-errores-email" class="registro-text-danger"></span>
        </article>
        </article>
        <article class="registro__email__container">
          <input class="registro__email__texto" value="" type="password" id="registro-main-form-password" name="password" placeholder="Contraseña*" />
          <div class="password-visible">
            <i class="fas fa-eye" onclick="password_visible('ocultar',this)"></i>
            <i class="fas fa-eye-slash active"  onclick="password_visible('mostrar',this)"></i>
          </div>
          
          <!-- <img src="/img/login-register/imgContraseña.png" alt=""> -->
          <small><%= locals.errors && errors.password && errors.password.msg %></small>
          <span id="registro-text-errores-password" class="registro-text-danger"></span>
        </article>
        </article>
        <span id="registro-text-errores-formulario" class="registro-text-danger"></span>
        <!-- BOTON INGRESAR -->
        <article class="login-detail__article__containerBotonIngreso">
          <div>
            <input type="checkbox" name="perdio" id="recordarme" value="on"> 
            <label for="recordarme">Recordarme</label>
          </div>
          <button class="registro__email__botonRegistro" id="registro-main-form-boton" type="submit">INGRESAR</button>
        </article>
      </form>
      </article>
    </section>
  </main>
  <script src="../../../../javascripts/validaciones/validaciones_users/loginUser.js"></script>
  <script src="../../../../javascripts/google_signin.js"></script>
  <script src="../../../../javascripts/facebook_signin.js"></script>
</body>

</html>