<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head', {title: 'Password-lost'}) %>

<body>

  <%- include('../partials/header') %>

  <!-- MAIN -->
  <main class="passLost">
    <section class="passLost_section">
      <!-- TITULO -->
      <h1 class="passLost_section_titulo">Mi cuenta</h1>
      <!-- PARRAFO -->
      <p class="passLost_section_parrafo">¿Perdiste tu contraseña? Por favor, introduce tu nombre de usuario o correo
        electrónico. Recibirás un enlace para crear una contraseña nueva por correo electrónico</p>
      <!-- CAJA INPUT -->
      <div class="passLost_section_cajaInput">
        <label for="email">Nombre de usuario o correo electrónico</label>
        <input type="text, email" id="email" placeholder="example: email@gmail.com">
      </div>
      <!-- BOTON -->
      <button class="passLost_section_boton">Restablecer contraseña</button>
    </section>
  </main>

  <!-- FOOTER -->
  <%- include('../partials/footer') %>
</body>

</html>