<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
  <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <title>Detalle | Buon Aseo</title>
</head>
<body>
<img src="/img/olasFooter1.png" alt="">
        <footer class="pie__pagina">
            <div class="contenedor__1">
                <div class="box1">
                    <h3>NOSOTROS</h3>
                    <p>¿Quiénes somos?</p>
                </div>
                <div class="box2">
                    <h3>INFORMACION</h3>
                    <p>Políticas de privacidad</p>
                    <p>Términos y condiciones</p>
                    <p>Puntos de entrega</p>
                </div>
                <div class="box3">
                    <h3>AYUDA</h3>
                    <p>¿Cómo comprar?</p>
                    <p>Preguntas frecuentes</p>
                    <p>Métodos de pago</p>
                </div>
                <div class="box4">
                    <h3>DEFENSA DEL CONSUMIDOR</h3>
                    <p>Para reclamos ingrese aquí</p>
                    <p>Ley N 24.240</p>
                    <button>BOTON DE ARREPENTIMIENTO</button>
                </div>
                <div class="box5">
                    <h3>CONTACTO</h3>
                    <p>(11) 42309399</p>
                    <p>info@BuonAseo.com</p>
                    <p>Coronel Mendez 1908 Wilde - Buenos Aires</p> 
                </div>
                <div class="box6">
                    <h3>REDES SOCIALES</h3>
                    <div class="redes__iconos">
                        <div><i class="fa-brands fa-facebook-f"></i></div>
                        <div><i class="fa-brands fa-whatsapp"></i></div>
                        <div><i class="fa-brands fa-instagram"></i></div>
                        <div><i class="fa-brands fa-twitter"></i></div>
                    </div>
                </div>  
            </div>
        <div class="contenendor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
        </div>
      </footer>
</body>
</html>