<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/Logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/detalle.css">
  <script
      src="https://kit.fontawesome.com/7ad2cc9ddb.js"
      crossorigin="anonymous"
    ></script>
    <title>Detalle | Buon Aseo</title>
</head>
<body>
    <main class="detalle_main">
        <section class="detalle_main_section1">
            <article class="detalle_main_article_img_principal">
                <img src="/img/detalle/fondox.png" alt="fondo" >
                <div class="detalle_main_article_img_secundaria_mobile">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                    <img src="/img/detalle/fondox.png" alt="fondo">
                </div>
            </article>
            <article class="detalle_main_article_nombre">
                <h2>Nombre</h2>
                <h3>$100</h3>
                <p>Cantidad</p>
                <p>Envio</p>
                <p>Subtotal</p>
                <p>TOTAL</p>
                <button class="detalle_main_article_boton_principal">
                    COMPRA AHORA
                </button>
                <button class="detalle_main_article_boton_principal">
                    AGREGAR AL CARRITO
                </button>
            </article>
            
        </section>
        <section>
            <article class="detalle_main_article_img_secundaria_tablet">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
                <img src="/img/detalle/fondox.png" alt="fondo">
            </article>
        </section>
        <section class="detalle_main_section2">
            <article class="detalle_main_article_caracteristica">
                <div>
                    <h3>CARACTERISTICAS</h3>
                    <p>MARCA</p>
                    <p>MODELO</p>
                    <p>TIPO</p>
                    <p>MATERIAL</p>
                    <p>ALTO</p>
                    <p>ANCHO</p>
                    <p>COLOR</p>
                </div>
                <div>
                    <p>XX</p>
                    <p>XXX</p>
                    <p>XXX</p>
                    <p>XXX</p>
                    <p>XXcm</p>
                    <p>XXcm</p>
                    <p>XXX</p>
                </div>
            </article>
            <article class="detalle_main_article_descripcion">
                <table>
                    <tr>
                        <th>DESCRIPCION</th>
                    </tr>
                    <tr>
                        <td>XXX</td>
                    </tr>
                </table>
            </article>
        </section>
        <section class="detalle_main_section3">
            <article class="detalle_main_article_ofertas">
                <h4>OFERTAS</h4>
            <div class="grid">
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
            </div>
                <button>ver mas</button>
            </article>
            <article class="detalle_main_article_destacados">
                <h4>DESTACADOS</h4>
                <div class="grid">
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                    <div class="col"><img src="/img/detalle/fondox.png" alt="fondo"></div>
                </div>
                <button>ver mas</button>
            </article>
        </section>
    </main>




    





<img src="/img/olasFooter1.png" alt="">
        <footer class="pie__pagina">
            <div class="contenedor__1">
                <div class="box1">
                    <h3>NOSOTROS</h3>
                    <p>¿Quiénes somos?</p>
                </div>
                <div class="box2">
                    <h3>INFORMACION</h3>
                    <p>Políticas de privacidad</p>
                    <p>Términos y condiciones</p>
                    <p>Puntos de entrega</p>
                </div>
                <div class="box3">
                    <h3>AYUDA</h3>
                    <p>¿Cómo comprar?</p>
                    <p>Preguntas frecuentes</p>
                    <p>Métodos de pago</p>
                </div>
                <div class="box4">
                    <h3>DEFENSA DEL CONSUMIDOR</h3>
                    <p>Para reclamos ingrese aquí</p>
                    <p>Ley N 24.240</p>
                    <button class="boton">BOTON DE ARREPENTIMIENTO</button>
                </div>
                <div class="box5">
                    <h3>CONTACTO</h3>
                    <p>(11) 42309399</p>
                    <p>info@BuonAseo.com</p>
                    <p>Coronel Mendez 1908 Wilde - Buenos Aires</p> 
                </div>
                <div class="box6">
                    <h3>REDES SOCIALES</h3>
                    <div class="redes__iconos">
                        <div><i class="fa-brands fa-facebook-f"></i></div>
                        <div><i class="fa-brands fa-whatsapp"></i></div>
                        <div><i class="fa-brands fa-instagram"></i></div>
                        <div><i class="fa-brands fa-twitter"></i></div>
                    </div>
                </div>  
            </div>
        <div class="contenendor__2">
            <p>Quimica Buon Aseo (1978 - 2022) Fábrica de Productos Químicos. Buon Aseo ® es marca registrada.</p>
        </div>
      </footer>
</body>
</html>